@import '../helpers/helpers'

/* ==========================================================================
   SECTION: Heroes
   ========================================================================== */
.heroes
	margin-top: 40px
	+media-breakpoint-down(md)
		background-color: $lightgray
	+media-breakpoint-down(sm)
		margin-top: 0
	&-slider
		overflow: hidden
		height: 425px
		border-radius: 240px
		background-color: $lightgray
		+media-breakpoint-down(md)
			height: 350px
			border-radius: 0
			background-color: $trsp
		+media-breakpoint-down(sm)
			height: 100%
		.slick-arrow
			+media-breakpoint-down(md)
				top: auto
				bottom: 22px
		.slick-prev
			left: 32px
			+media-breakpoint-down(md)
				left: 0
		.slick-next
			right: 32px
			transform: rotate(180deg)
			+media-breakpoint-down(md)
				right: 0
	&-slide-inner
		display: flex
		align-items: center
		justify-content: space-between
		height: 425px
		padding: 60px 80px 60px 110px
		+media-breakpoint-down(lg)
			padding-left: 90px
		+media-breakpoint-down(md)
			height: 350px
			padding: 40px 0 75px
		+media-breakpoint-down(sm)
			flex-direction: column
			height: 100%
			padding: 60px 0 96px
		.content
			flex-basis: 360px
			width: 100%
			max-width: 360px
			+media-breakpoint-down(sm)
				flex-basis: auto
				max-width: 100%
				text-align: center
			.title
				margin-bottom: 0
				color: #000
				font-size: 32px
				line-height: 1.3
				font-weight: 700
				+media-breakpoint-down(md)
					font-size: 28px
				+media-breakpoint-down(sm)
					font-size: 24px
			.btn
				margin-top: 40px
				+media-breakpoint-down(md)
					margin-top: 16px
		.image
			position: absolute
			top: 0
			right: 0
			bottom: 0
			width: 58%
			height: 100%
			+media-breakpoint-down(lg)
				width: 45%
			+media-breakpoint-down(md)
				overflow: hidden
				position: static
				width: 250px
				height: 250px
				border-radius: 50%
			+media-breakpoint-down(sm)
				display: none
			img
				width: 100%
				height: 100%
				object-fit: cover
			// text-align: center
			// +media-breakpoint-down(md)
			// 	max-width: 350px
			// +media-breakpoint-down(sm)
			// 	max-width: 100%
			// 	height: 150px
			// 	margin-bottom: 16px
			// img
			// 	display: inline-block
			// 	width: 100%
			// 	height: 100%
			// 	object-fit: contain


/* ==========================================================================
   SECTION: Industry
   ========================================================================== */
.s-industry
	.nav-item
		+media-breakpoint-down(xs)
			flex-basis: 92px
			max-width: 92px
	.tab-content
		margin-top: 64px
		+media-breakpoint-down(lg)
			margin-top: 32px
	.industry-list
		&-item
			margin-bottom: 24px
		&-link
			display: flex
			&:hover
				.image
					border-color: $accent
					background-color: $accent
					.icon
						fill: $white
						stroke: $white
				.title
					span
						color: $accent
					.icon
						fill: $accent
			.image
				flex: 0 0 auto
				display: flex
				align-items: center
				justify-content: center
				width: 40px
				height: 40px
				border-radius: 50%
				border: 1px solid $lightgray
				background-color: $white
				transition: .35s ease
				.icon
					fill: $accent
					stroke: $accent
					font-size: 24px
					transition: .35s ease
			.title
				display: inline-flex
				width: 100%
				justify-content: space-between
				margin-left: 16px
				padding-top: 8px
				transition: .35s ease
				span
					display: inline-block
					padding-right: 8px
					color: $black
					font-size: 18px
					line-height: 24px
					transition: .35s ease
					+media-breakpoint-down(sm)
						font-size: 16px
				.icon
					flex: 0 0 auto
					margin-top: 5px
					fill: $lightblue
					font-size: 16px
					transition: .35s ease


/* ==========================================================================
   SECTION: Our Products
   ========================================================================== */
.s-products
	.section-descr
		max-width: 272px
		+media-breakpoint-down(md)
			max-width: 100%
	&-buttons
		.catalog-link
			margin-top: 35px
			.btn
				display: flex
				align-items: center
				justify-content: center
		+media-breakpoint-down(md)
			display: flex
			flex-wrap: wrap
			align-items: center
			justify-content: space-between
			margin-bottom: 40px
			.catalog-link
				margin-top: 0
		+media-breakpoint-down(xxs)
			flex-direction: column
			align-items: flex-start
			.catalog-link
				margin-top: 16px
	&-list
		&-item
			display: block
			margin-bottom: 48px
			.image
				overflow: hidden
				backface-visibility: hidden
				position: relative
				width: 80px
				height: 80px
				border-radius: 100%
				transform: translate3d(0, 0, 0)
				&::before
					content: ''
					position: absolute
					top: 0
					left: 0
					z-index: 1
					width: 100%
					height: 100%
					background: $accent
					opacity: 0
					transition: opacity .35s ease
				&-icon
					position: absolute
					top: 50%
					left: 50%
					z-index: 3
					transform: translate(-50%, -50%)
				&-photo
					display: block
					width: 100%
					height: 100%
					object-fit: cover
			.title
				color: $black
				font-size: 18px
				font-weight: 400
				line-height: 24px
				transition: color .35s ease
				+media-breakpoint-down(lg)
					font-size: 16px
			&:hover
				.image::before
					opacity: 1
				.title
					color: $accent


/* ==========================================================================
   SECTION: CTA
   ========================================================================== */
.s-cta
	overflow: hidden
	+media-breakpoint-down(md)
		background-color: $lightgray
	&-wrapper
		padding: 40px 0 40px 56px
		background-color: $lightgray
		+media-breakpoint-down(md)
			padding-left: 0
			padding-right: 0
			background-color: $trsp
	&-form
		+media-breakpoint-down(md)
			margin-top: 20px
		+media-breakpoint-down(sm)
			margin-top: 60px
			.form-group
				flex-direction: row
				align-items: center
		+media-breakpoint-down(xxs)
			.form-group
				flex-direction: column
				align-items: flex-start
		.btn
			width: 70%
			max-width: 340px
			+media-breakpoint-down(xxs)
				width: 100%
	&-descr
		display: flex
		.dots
			flex: 0 0 auto
			margin-right: 16px
		p
			max-width: 334px
			margin-top: -6px
	&-expert
		position: relative
		margin-top: 40px
		.photo
			position: absolute
			left: 90px
			bottom: 0
			z-index: 1
			max-width: 100%
			height: 340px
			+media-breakpoint-down(lg)
				left: 70px
				max-width: 100%
				height: 300px
			+media-breakpoint-down(sm)
				height: 240px
		.figure
			width: 100%
			height: 248px
			border-radius: 200px 0 0 200px
			background-color: $lightblue
			+media-breakpoint-down(lg)
				height: 200px
			+media-breakpoint-down(md)
				width: 100vw


/* ==========================================================================
   SECTION: Advantages
   ========================================================================== */
.s-advantages
	+media-breakpoint-down(sm)
		.card
			margin-bottom: 20px


/* ==========================================================================
   SECTION: About
   ========================================================================== */
.s-about
	&-header
		margin-bottom: 40px
	&-group
		&:not(:first-child)
			margin-top: 50px