.analogs-header {
  margin-bottom: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eff3f6
}
@media (max-width:767.98px) {
  .analogs-header {
    display: none
  }
}
.analogs-header-title {
  color: #76858c
}
@media (max-width:767.98px) {
  .analogs-body {
    padding-top: 16px;
    border-top: 1px solid #eff3f6
  }
}
.analogs-item {
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #eff3f6
}
.analogs-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 264px;
  margin-right: 24px;
  padding: 24px 24px 16px;
  border-radius: 0 342px 342px 0;
  background-color: #eff3f6
}
@media (max-width:991.98px) {
  .analogs-brand {
    margin-right: 0
  }
}
@media (max-width:767.98px) {
  .analogs-brand {
    height: 170px;
    margin-bottom: 24px
  }
}
.analogs-brand .brand-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.analogs-brand .brand-logo {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.analogs-brand .brand-logo img {
  padding: 8px
}
.analogs-brand .brand-name {
  margin-left: 16px;
  font-size: 24px;
  line-height: 1.3
}
.analogs-brand .brand-analogs {
  color: #76858c
}
.analogs-materials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.analogs-materials .materials-item {
  position: relative;
  font-size: 12px;
  font-weight: 700
}
.analogs-materials .materials-item:not(:last-child) {
  margin-bottom: 14px
}
.analogs-materials .materials-item:hover .btn {
  visibility: visible;
  opacity: 1
}
.analogs-materials .materials-item.hidden {
  display: none
}
.analogs-materials .materials-item .btn {
  visibility: hidden;
  position: absolute;
  top: -11px;
  right: 0;
  opacity: 0;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease
}
@media (max-width:767.98px) {
  .analogs-materials .materials-item .btn {
    display: none
  }
}
.analogs-materials .materials-item .btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 1;
  width: 45px;
  height: 100%;
  background-image: -webkit-gradient(linear,right top,left top,from(white),to(rgba(255,255,255,0)));
  background-image: -o-linear-gradient(right,#fff 0,rgba(255,255,255,0) 100%);
  background-image: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%)
}
.analogs-materials .show-more {
  height: 100%;
  margin-top: 16px;
  padding-left: 0;
  padding-right: 0;
  color: #76858c;
  line-height: 1
}
.analogs-materials .show-more:hover {
  color: #ff6c02
}
.analogs-materials .show-more .icon {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}
@media (max-width:991.98px) {
  .compare {
    background-color: transparent
  }
}
@media (max-width:767.98px) {
  .compare {
    border-radius: 0 0 300px 300px;
    background-color: #eff3f6
  }
}
.compare-wrapper {
  padding: 25px 80px 25px 25px;
  height: auto
}
@media (max-width:1277.98px) {
  .compare-wrapper {
    padding: 25px 25px 110px;
    border-radius: 0 0 48% 48%
  }
}
@media (max-width:991.98px) {
  .compare-wrapper {
    border-radius: 0 0 300px 300px;
    background-color: #eff3f6
  }
}
@media (max-width:767.98px) {
  .compare-wrapper {
    padding: 25px 0 120px;
    border-radius: 0;
    background-color: transparent
  }
}
.compare-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%
}
@media (max-width:1277.98px) {
  .compare-inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
.compare-product {
  max-width: 240px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}
@media (max-width:1277.98px) {
  .compare-product {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    margin: 32px 16px 0
  }
}
@media (max-width:767.98px) {
  .compare-product {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 24px 0 0
  }
}
.compare-product-photo {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
@media (max-width:767.98px) {
  .compare-product-photo {
    width: 140px;
    height: 140px
  }
}
@media (max-width:575.98px) {
  .compare-product-photo {
    width: 100px;
    height: 100px
  }
}
@media (max-width:374.98px) {
  .compare-product-photo {
    width: 80px;
    height: 80px
  }
}
.compare-product-photo > img {
  width: 100%;
  height: 100%;
  padding: 16px;
  -o-object-fit: contain;
  object-fit: contain
}
.compare-product-title {
  margin-top: 10px;
  font-weight: 700;
  text-align: center
}
@media (max-width:767.98px) {
  .compare-product-title {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto
  }
}
@media (max-width:767.98px) {
  .compare-product-title {
    max-width: 90%
  }
}
.compare-table {
  width: 100%;
  max-width: 100%;
  margin-left: 56px;
  margin-right: 16px
}
@media (max-width:1277.98px) {
  .compare-table {
    margin-left: 0;
    margin-right: 0
  }
}
.compare-table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.compare-table-header .specific {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36%;
  flex: 0 0 36%;
  padding-right: 22px;
  color: #76858c
}
@media (max-width:767.98px) {
  .compare-table-header .specific {
    display: none
  }
}
.compare-table-header .product {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31%;
  flex: 0 0 31%;
  padding-left: 22px;
  padding-bottom: 24px;
  border-left: 1px solid #dde5e9;
  font-size: 12px;
  font-weight: 700
}
@media (max-width:767.98px) {
  .compare-table-header .product {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding-left: 0;
    padding-bottom: 16px;
    border-left: 0;
    border-bottom: 1px solid #dde5e9
  }
}
.compare-table-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
@media (max-width:767.98px) {
  .compare-table-item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 12px;
    border-bottom: 1px solid #dde5e9
  }
}
.compare-table-item:last-child .feature,
.compare-table-item:last-child .specific {
  padding-bottom: 24px
}
@media (max-width:767.98px) {
  .compare-table-item:last-child .feature,
  .compare-table-item:last-child .specific {
    padding-bottom: 0
  }
}
.compare-table-item .specific {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36%;
  flex: 0 0 36%;
  padding-top: 16px;
  padding-right: 22px;
  line-height: 1.4
}
@media (max-width:767.98px) {
  .compare-table-item .specific {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding-top: 10px;
    padding-right: 0;
    color: #76858c;
    font-size: 12px
  }
}
.compare-table-item .feature {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31%;
  flex: 0 0 31%;
  padding-top: 16px;
  padding-left: 22px;
  padding-right: 22px;
  border-left: 1px solid #dde5e9;
  line-height: 1.4
}
@media (max-width:767.98px) {
  .compare-table-item .feature {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding-top: 8px;
    padding-left: 0;
    border-left: 0
  }
}
.analog-descr {
  margin-top: 70px
}
.analog-descr-section {
  padding-top: 24px;
  padding-bottom: 32px;
  border-top: 1px solid #eff3f6
}
@media (max-width:991.98px) {
  .analog-descr-section {
    padding-bottom: 18px
  }
}
.analog-descr .title {
  margin-bottom: 24px
}
@media (max-width:767.98px) {
  .analog-descr .title {
    margin-bottom: 16px
  }
}
.analog-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 60px;
  border-top: 1px solid #eff3f6
}
@media (max-width:767.98px) {
  .analog-actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 0;
    border-top: 0
  }
}
.analog-actions-btn {
  margin-top: 16px
}
.analog-actions-btn:not(:last-child) {
  margin-right: 22px
}
@media (max-width:767.98px) {
  .analog-actions-btn:not(:last-child) {
    margin-right: 0
  }
  .analog-actions-btn .btn {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
@media (max-width:767.98px) {
  .analog-actions-btn--order .btn .icon {
    display: none
  }
}
.analog-actions-btn--request {
  margin-left: auto
}
@media (max-width:991.98px) {
  .analog-actions-btn--request {
    margin-left: 0
  }
}
.analog-actions-btn--request .btn {
  border: 0;
  padding-left: 0;
  padding-right: 0;
  color: #ff6c02
}
.analog-actions-btn--request .btn:hover {
  color: #1e2021
}
@media print {
  .analog-actions,
  .breadcrumbs,
  .footer,
  .header {
    display: none
  }
  .main-header {
    margin-top: 30px;
    margin-bottom: 10px
  }
  .compare {
    border-radius: 0;
    background-color: transparent
  }
  .compare-wrapper {
    padding-bottom: 24px
  }
}