.heroes {
  margin-top: 40px
}
@media (max-width:991.98px) {
  .heroes {
    background-color: #eff3f6
  }
}
@media (max-width:767.98px) {
  .heroes {
    margin-top: 0
  }
}
.heroes-slider {
  overflow: hidden;
  height: 425px;
  border-radius: 240px;
  background-color: #eff3f6
}
@media (max-width:991.98px) {
  .heroes-slider {
    height: 350px;
    border-radius: 0;
    background-color: transparent
  }
}
@media (max-width:767.98px) {
  .heroes-slider {
    height: 100%
  }
}
@media (max-width:991.98px) {
  .heroes-slider .slick-arrow {
    top: auto;
    bottom: 22px
  }
}
.heroes-slider .slick-prev {
  left: 32px
}
@media (max-width:991.98px) {
  .heroes-slider .slick-prev {
    left: 0
  }
}
.heroes-slider .slick-next {
  right: 32px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}
@media (max-width:991.98px) {
  .heroes-slider .slick-next {
    right: 0
  }
}
.heroes-slide-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 425px;
  padding: 60px 80px 60px 130px
}
@media (max-width:991.98px) {
  .heroes-slide-inner {
    height: 350px;
    padding: 40px 0 75px
  }
}
@media (max-width:767.98px) {
  .heroes-slide-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding: 16px 0 96px
  }
}
.heroes-slide-inner .content {
  -ms-flex-preferred-size: 360px;
  flex-basis: 360px;
  width: 100%;
  max-width: 360px
}
@media (max-width:767.98px) {
  .heroes-slide-inner .content {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-width: 100%;
    text-align: center
  }
}
.heroes-slide-inner .content .title {
  margin-bottom: 0;
  color: #000;
  font-size: 32px;
  line-height: 1.3;
  font-weight: 700
}
@media (max-width:991.98px) {
  .heroes-slide-inner .content .title {
    font-size: 28px
  }
}
@media (max-width:767.98px) {
  .heroes-slide-inner .content .title {
    font-size: 24px
  }
}
.heroes-slide-inner .content .btn {
  margin-top: 40px
}
@media (max-width:991.98px) {
  .heroes-slide-inner .content .btn {
    margin-top: 16px
  }
}
.heroes-slide-inner .image {
  width: 100%;
  height: 100%;
  max-width: 550px;
  max-height: 250px;
  text-align: center
}
@media (max-width:991.98px) {
  .heroes-slide-inner .image {
    max-width: 350px
  }
}
@media (max-width:767.98px) {
  .heroes-slide-inner .image {
    max-width: 100%;
    height: 150px;
    margin-bottom: 16px
  }
}
.heroes-slide-inner .image img {
  display: inline-block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
@media (max-width:575.98px) {
  .s-industry .nav-item {
    -ms-flex-preferred-size: 92px;
    flex-basis: 92px;
    max-width: 92px
  }
}
.s-industry .tab-content {
  margin-top: 64px
}
@media (max-width:1277.98px) {
  .s-industry .tab-content {
    margin-top: 32px
  }
}
.s-industry .industry-list-item {
  margin-bottom: 24px
}
.s-industry .industry-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.s-industry .industry-list-link:hover .image {
  border-color: #ff6c02;
  background-color: #ff6c02
}
.s-industry .industry-list-link:hover .image .icon {
  fill: #fff;
  stroke: #fff
}
.s-industry .industry-list-link:hover .title span {
  color: #ff6c02
}
.s-industry .industry-list-link:hover .title .icon {
  fill: #ff6c02
}
.s-industry .industry-list-link .image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #eff3f6;
  background-color: #fff;
  -webkit-transition: .35s ease;
  -o-transition: .35s ease;
  transition: .35s ease
}
.s-industry .industry-list-link .image .icon {
  fill: #ff6c02;
  stroke: #ff6c02;
  font-size: 24px;
  -webkit-transition: .35s ease;
  -o-transition: .35s ease;
  transition: .35s ease
}
.s-industry .industry-list-link .title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 16px;
  padding-top: 8px;
  -webkit-transition: .35s ease;
  -o-transition: .35s ease;
  transition: .35s ease
}
.s-industry .industry-list-link .title span {
  display: inline-block;
  padding-right: 8px;
  color: #1e2021;
  font-size: 18px;
  line-height: 24px;
  -webkit-transition: .35s ease;
  -o-transition: .35s ease;
  transition: .35s ease
}
@media (max-width:767.98px) {
  .s-industry .industry-list-link .title span {
    font-size: 16px
  }
}
.s-industry .industry-list-link .title .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-top: 5px;
  fill: #becfd7;
  font-size: 16px;
  -webkit-transition: .35s ease;
  -o-transition: .35s ease;
  transition: .35s ease
}
.s-products .section-descr {
  max-width: 272px
}
@media (max-width:991.98px) {
  .s-products .section-descr {
    max-width: 100%
  }
}
.s-products-buttons .catalog-link {
  margin-top: 35px
}
.s-products-buttons .catalog-link .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
@media (max-width:991.98px) {
  .s-products-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px
  }
  .s-products-buttons .catalog-link {
    margin-top: 0
  }
}
@media (max-width:374.98px) {
  .s-products-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .s-products-buttons .catalog-link {
    margin-top: 16px
  }
}
.s-products-list-item {
  display: block;
  margin-bottom: 48px
}
.s-products-list-item .image {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.s-products-list-item .image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #ff6c02;
  opacity: 0;
  -webkit-transition: opacity .35s ease;
  -o-transition: opacity .35s ease;
  transition: opacity .35s ease
}
.s-products-list-item .image-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.s-products-list-item .image-photo {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.s-products-list-item .title {
  color: #1e2021;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  -webkit-transition: color .35s ease;
  -o-transition: color .35s ease;
  transition: color .35s ease
}
@media (max-width:1277.98px) {
  .s-products-list-item .title {
    font-size: 16px
  }
}
.s-products-list-item:hover .image::before {
  opacity: 1
}
.s-products-list-item:hover .title {
  color: #ff6c02
}
.s-cta {
  overflow: hidden
}
@media (max-width:991.98px) {
  .s-cta {
    background-color: #eff3f6
  }
}
.s-cta-wrapper {
  padding: 40px 0 40px 56px;
  background-color: #eff3f6
}
@media (max-width:991.98px) {
  .s-cta-wrapper {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent
  }
}
@media (max-width:991.98px) {
  .s-cta-form {
    margin-top: 20px
  }
}
@media (max-width:767.98px) {
  .s-cta-form {
    margin-top: 60px
  }
  .s-cta-form .form-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
}
@media (max-width:374.98px) {
  .s-cta-form .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
}
.s-cta-form .btn {
  width: 70%;
  max-width: 340px
}
@media (max-width:374.98px) {
  .s-cta-form .btn {
    width: 100%
  }
}
.s-cta-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.s-cta-descr .dots {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 16px
}
.s-cta-descr p {
  max-width: 334px;
  margin-top: -6px
}
.s-cta-expert {
  position: relative;
  margin-top: 40px
}
.s-cta-expert .photo {
  position: absolute;
  left: 90px;
  bottom: 0;
  z-index: 1;
  max-width: 100%;
  height: 340px
}
@media (max-width:1277.98px) {
  .s-cta-expert .photo {
    left: 70px;
    max-width: 100%;
    height: 300px
  }
}
@media (max-width:767.98px) {
  .s-cta-expert .photo {
    height: 240px
  }
}
.s-cta-expert .figure {
  width: 100%;
  height: 248px;
  border-radius: 200px 0 0 200px;
  background-color: #becfd7
}
@media (max-width:1277.98px) {
  .s-cta-expert .figure {
    height: 200px
  }
}
@media (max-width:991.98px) {
  .s-cta-expert .figure {
    width: 100vw
  }
}
@media (max-width:767.98px) {
  .s-advantages .card {
    margin-bottom: 20px
  }
}
.s-about-header {
  margin-bottom: 40px
}
.s-about-group:not(:first-child) {
  margin-top: 50px
}