body {
  overflow-x: hidden;
  min-width: 320px
}
body._is-locked,
html._is-locked {
  overflow: hidden;
  height: 100%
}
a,
input,
select,
textarea {
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
svg.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor
}
button {
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
[data-scroll=out] {
  opacity: 0
}
[data-scroll=in] {
  opacity: 1;
  -webkit-animation-delay: .25s;
  animation-delay: .25s
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-25%,0,0);
    transform: translate3d(-25%,0,0)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-25%,0,0);
    transform: translate3d(-25%,0,0)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,25%,0);
    transform: translate3d(0,25%,0)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,25%,0);
    transform: translate3d(0,25%,0)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
}
.header {
  -webkit-box-shadow: none;
  box-shadow: none
}
.footer {
  margin-top: -200px
}
.page-nav {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px
}
.internal {
  font-family: "IBM Plex Sans",sans-serif
}
.internal h1,
.internal h2,
.internal h3,
.internal h4,
.internal h5,
.internal h6 {
  margin-top: 0
}
.text-36 {
  font-size: 36px
}
.text-24 {
  font-size: 24px
}
.w-bold {
  font-weight: 700
}
.form-control {
  padding: 20px;
  border: 1px solid #e8e8e8;
  background-color: #f6f6f6;
  font: 400 14px "IBM Plex Sans",sans-serif;
  color: #323232
}
.form-control:focus {
  border-color: #e8e8e8;
  -webkit-box-shadow: 0 0 0 2px #dde5e9;
  box-shadow: 0 0 0 2px #dde5e9
}
.form-control::-webkit-input-placeholder {
  color: #858585
}
.form-control::-moz-placeholder {
  color: #858585
}
.form-control:-ms-input-placeholder {
  color: #858585
}
.form-control::-ms-input-placeholder {
  color: #858585
}
.form-control::placeholder {
  color: #858585
}
.form-checkbox {
  display: block;
  margin-bottom: 0;
  cursor: pointer
}
.form-checkbox:not(:last-child) {
  margin-bottom: 10px
}
.form-checkbox > input[type=checkbox] {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  -webkit-clip-path: rect(0 0 0 0);
  clip-path: rect(0 0 0 0);
  opacity: 0
}
.form-checkbox > input[type=checkbox]:active + span::before {
  -webkit-box-shadow: 0 0 0 2px #dde5e9;
  box-shadow: 0 0 0 2px #dde5e9
}
.form-checkbox > input[type=checkbox]:checked + span::before {
  border-color: #ffdb03;
  background: #ffdb03 url(../images/icons/check.svg) no-repeat center/10px
}
.form-checkbox > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #25373f;
  font-size: 15px;
  font-weight: 400
}
.form-checkbox > span::before {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border-radius: 2px;
  border: 1px solid #dde5e9;
  background-color: #fff;
  -webkit-transition: border .3s ease,background-color .3s ease,-webkit-box-shadow .3s ease;
  transition: border .3s ease,background-color .3s ease,-webkit-box-shadow .3s ease;
  -o-transition: border .3s ease,box-shadow .3s ease,background-color .3s ease;
  transition: border .3s ease,box-shadow .3s ease,background-color .3s ease;
  transition: border .3s ease,box-shadow .3s ease,background-color .3s ease,-webkit-box-shadow .3s ease
}
.simplebar-track {
  border-radius: 4px;
  background-color: #fff
}
.simplebar-track.simplebar-vertical {
  width: 8px
}
.simplebar-track.simplebar-horizontal {
  height: 8px;
  background-color: transparent
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  height: 4px
}
.simplebar-scrollbar.simplebar-visible:before {
  background-color: #999;
  opacity: 1
}
.main-catalog {
  margin-top: 40px;
  font: 400 14px "IBM Plex Sans",sans-serif;
  line-height: 1.4
}
.main-catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.card-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  border: 1px solid #dde5e9;
  background-color: #fff
}
.card-product .card-preview {
  position: relative;
  padding: 15px 30px 0
}
.card-product .card-preview .card-gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.card-product .card-preview .card-gallery-item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 230px
}
.card-product .card-preview .card-gallery-item:not(:last-child) .card-gallery-item-nav {
  margin-right: 16px
}
.card-product .card-preview .card-gallery-item-nav {
  display: block;
  position: relative;
  height: 100%
}
.card-product .card-preview .card-gallery-item-nav::before {
  content: "";
  cursor: pointer;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  border-radius: 2px;
  background-color: #dde5e9;
  -webkit-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out
}
.card-product .card-preview .card-gallery-item img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-bottom: 2px;
  margin: auto;
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  opacity: 0;
  -webkit-transform: scale(.85);
  -ms-transform: scale(.85);
  transform: scale(.85);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.card-product .card-preview .card-gallery-item._is-active .card-gallery-item-nav::before {
  background-color: #ffdb03
}
.card-product .card-preview .card-gallery-item._is-active img {
  z-index: 2;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  opacity: 1
}
.card-product .card-preview .card-photo {
  display: block;
  height: 230px
}
.card-product .card-preview .card-photo:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}
.card-product .card-preview .card-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease
}
.card-product .card-meta {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 30px 30px
}
.card-product .card-meta .category {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  margin-bottom: 5px;
  color: #323232;
  font-size: 14px;
  text-decoration: none;
  word-break: break-word
}
.card-product .card-meta .category:hover {
  color: #91884e
}
.card-product .card-meta .permalink {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  color: #323232;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  word-break: break-word
}
.card-product .card-meta .permalink:hover {
  color: #91884e
}
.card-product .card-meta .variations {
  margin-top: 15px
}
.card-product .card-meta .variations-title {
  margin-bottom: 5px;
  color: #777;
  font-size: 13px
}
.card-product .card-meta .variations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -5px
}
.card-product .card-meta .variations-item {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 32px;
  border: 1px solid #becfd7;
  background-color: #fff;
  color: #323232;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.card-product .card-meta .variations-item.variations-item-active {
  pointer-events: none;
  border-color: #ffdb03;
  background-color: #ffdb03
}
.card-product .card-meta .variations-item:hover {
  background-color: #eff3f6
}
.card-product .card-meta .price {
  margin-top: 15px
}
.card-product .card-meta .price-title {
  color: #777;
  font-size: 13px
}
.card-product .card-meta .price-value {
  font-size: 20px;
  font-weight: 700
}
.catalog-filters {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  font: 700 14px "IBM Plex Sans",sans-serif;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.catalog-filters._is-shown {
  pointer-events: auto;
  visibility: visible;
  opacity: 1
}
.catalog-filters._is-shown .catalog-filters-inner {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none
}
.catalog-filters::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #1e1d1e;
  opacity: .65
}
.catalog-filters-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 364px;
  height: 100%;
  padding: 40px;
  background-color: #fff;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.catalog-filters-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px
}
.catalog-filters-heading .title {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 16px
}
.catalog-filters-heading .close-btn {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  border-radius: 0;
  border: 0;
  background-color: transparent;
  color: #323232;
  font-size: 16px
}
.catalog-filters-heading .close-btn:hover {
  color: #91884e
}
.catalog-filters-main .simplebar-track {
  border-radius: 2px;
  background-color: #dde5e9
}
.catalog-filters-main .simplebar-track.simplebar-vertical {
  width: 3px
}
.catalog-filters-main .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0
}
.catalog-filters-main .simplebar-scrollbar.simplebar-visible:before {
  left: 0;
  right: 0;
  background-color: #25373f;
  opacity: 1
}
.catalog-filters-main .filter-categories .title {
  margin-bottom: 20px
}
.catalog-filters-main .filter-categories-list {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: -1px;
  padding: 1px;
  border-radius: 3px
}
.catalog-filters-main .filter-categories-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  margin-bottom: 0;
  -webkit-box-shadow: 0 0 0 1px #dde5e9;
  box-shadow: 0 0 0 1px #dde5e9;
  text-align: center;
  cursor: pointer
}
.catalog-filters-main .filter-categories-item > input[type=radio] {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  -webkit-clip-path: rect(0 0 0 0);
  clip-path: rect(0 0 0 0);
  opacity: 0
}
.catalog-filters-main .filter-categories-item > input[type=radio]:checked + span {
  -webkit-box-shadow: 0 0 0 1px #ffdb03;
  box-shadow: 0 0 0 1px #ffdb03;
  background-color: #ffdb03
}
.catalog-filters-main .filter-categories-item > input[type=radio]:hover:not(:checked) + span {
  background-color: #eff3f6
}
.catalog-filters-main .filter-categories-item > span {
  display: block;
  padding: 8px;
  background-color: #fff;
  color: #323232;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.catalog-filters-main .filter-group:not(:first-child) {
  margin-top: 30px
}
.catalog-filters-main .filter-group._is-toggled .filter-group-heading .icon {
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1)
}
.catalog-filters-main .filter-group._is-toggled .filter-group-main {
  display: block
}
.catalog-filters-main .filter-group .title {
  font-size: 15px
}
.catalog-filters-main .filter-group-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #323232
}
.catalog-filters-main .filter-group-heading:hover {
  cursor: pointer;
  color: rgba(50,50,50,.75)
}
.catalog-filters-main .filter-group-heading .title {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-right: 15px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.catalog-filters-main .filter-group-heading .icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 12px;
  height: 12px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.catalog-filters-main .filter-group-main {
  display: none;
  padding-top: 15px;
  padding-right: 4px
}
.catalog-filters-main .filter-group-checkboxes {
  overflow-y: auto;
  max-height: 145px;
  margin-left: -3px;
  padding: 3px
}
.catalog-filters-main .filter-actions {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: none;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fff
}
.catalog-filters-main .filter-actions._is-shown {
  display: block
}
.catalog-filters-main .filter-actions .filter-btn {
  display: block;
  width: 100%;
  height: 44px;
  padding: 10px;
  border-radius: 32px;
  border: 0;
  color: #323232;
  font-size: 14px
}
.catalog-filters-main .filter-actions .filter-btn:not(:last-child) {
  margin-bottom: 10px
}
.catalog-filters-main .filter-actions .filter-btn-reset {
  background-color: #eff3f6
}
.catalog-filters-main .filter-actions .filter-btn-reset:active {
  -webkit-box-shadow: 0 0 0 3px #eff3f6;
  box-shadow: 0 0 0 3px #eff3f6
}
.catalog-filters-main .filter-actions .filter-btn-reset:hover {
  background-color: #dde5e9
}
.catalog-filters-main .filter-actions .filter-btn-submit {
  background-color: #ffdb03
}
.catalog-filters-main .filter-actions .filter-btn-submit:active {
  -webkit-box-shadow: 0 0 0 3px #dde5e9;
  box-shadow: 0 0 0 3px #dde5e9
}
.catalog-filters-main .filter-actions .filter-btn-submit:hover {
  background-color: #25373f;
  color: #fff
}
.catalog-aside {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px
}
.catalog-aside-toggler {
  display: none;
  margin-bottom: 10px
}
.catalog-aside-toggler-btn {
  width: 100%;
  padding: 15px 20px;
  border-radius: 32px;
  border: 0;
  background-color: #ffdb03;
  color: #323232;
  font-size: 16px
}
.catalog-aside-toggler-btn:hover {
  background-color: #25373f;
  color: #fff
}
.catalog-aside-toggler-btn:active {
  -webkit-box-shadow: 0 0 0 3px #dde5e9;
  box-shadow: 0 0 0 3px #dde5e9
}
.catalog-aside-wrapper {
  padding: 20px;
  border: 1px solid #dde5e9;
  background-color: #fff
}
.catalog-aside-wrapper .title {
  margin-bottom: 10px;
  padding: 10px
}
.catalog-aside-wrapper .cats {
  margin: 0;
  padding: 0;
  list-style: none
}
.catalog-aside-wrapper .cats-item:not(:last-child) {
  margin-bottom: 3px
}
.catalog-aside-wrapper .cats-item.cats-item-current {
  pointer-events: none
}
.catalog-aside-wrapper .cats-item.cats-item-current .cats-link {
  background-color: #eff3f6
}
.catalog-aside-wrapper .cats-item.cats-item-current .cats-count {
  background-color: #ffdb03;
  color: #323232
}
.catalog-aside-wrapper .cats-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.catalog-aside-wrapper .cats-link:hover {
  background-color: #f6f6f6
}
.catalog-aside-wrapper .cats-link:hover .cats-count {
  background-color: #ffdb03;
  color: #323232
}
.catalog-aside-wrapper .cats-name {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #323232;
  font-size: 14px
}
.catalog-aside-wrapper .cats-count {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 20px;
  margin-left: 10px;
  border-radius: 4px;
  background-color: #f6f6f6;
  color: #76858c;
  font-size: 12px;
  line-height: 1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.catalog-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-left: 30px
}
.catalog-wrapper .catalog-tags {
  margin-bottom: 20px
}
.catalog-wrapper .catalog-tags .title {
  margin-bottom: 20px
}
.catalog-wrapper .catalog-tags .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none
}
.catalog-wrapper .catalog-tags .tags-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 10px;
  margin-bottom: 10px
}
.catalog-wrapper .catalog-tags .tags-item.tags-item-current {
  pointer-events: none
}
.catalog-wrapper .catalog-tags .tags-item.tags-item-current .tags-link {
  border-color: #25373f;
  background-color: #25373f;
  color: #fff
}
.catalog-wrapper .catalog-tags .tags-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 32px;
  border: 1px solid #dde5e9;
  background-color: #fff;
  color: #323232;
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.catalog-wrapper .catalog-tags .tags-link:hover {
  background-color: #eff3f6
}
.catalog-wrapper .catalog-search {
  margin-bottom: 30px
}
.catalog-wrapper .catalog-search-form {
  position: relative
}
.catalog-wrapper .catalog-search-form-field {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 70px;
  border-radius: 0;
  border: 1px solid #dde5e9;
  background-color: #fff;
  color: #323232;
  font-size: 14px
}
.catalog-wrapper .catalog-search-form-field:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px #dde5e9;
  box-shadow: 0 0 0 2px #dde5e9
}
.catalog-wrapper .catalog-search-form-field::-webkit-input-placeholder {
  color: #76858c
}
.catalog-wrapper .catalog-search-form-field::-moz-placeholder {
  color: #76858c
}
.catalog-wrapper .catalog-search-form-field:-ms-input-placeholder {
  color: #76858c
}
.catalog-wrapper .catalog-search-form-field::-ms-input-placeholder {
  color: #76858c
}
.catalog-wrapper .catalog-search-form-field::placeholder {
  color: #76858c
}
.catalog-wrapper .catalog-search-form-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  border-radius: 0;
  border: 1px solid transparent;
  background-color: transparent
}
.catalog-wrapper .catalog-search-form-btn:active {
  border-color: #dde5e9;
  background-color: #eff3f6
}
.catalog-wrapper .catalog-search-form-btn:active > svg {
  fill: #25373f
}
.catalog-wrapper .catalog-search-form-btn:hover > svg {
  fill: #25373f
}
.catalog-wrapper .catalog-search-form-btn > svg {
  width: 20px;
  height: 20px;
  fill: #76858c;
  -webkit-transition: fill .3s ease;
  -o-transition: fill .3s ease;
  transition: fill .3s ease
}
.catalog-wrapper .catalog-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px
}
.catalog-wrapper .catalog-actions-filter {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 30px
}
.catalog-wrapper .catalog-actions-filter-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 32px;
  border: 0;
  background-color: #ffdb03;
  color: #323232;
  font-size: 14px
}
.catalog-wrapper .catalog-actions-filter-btn:hover {
  background-color: #25373f;
  color: #fff
}
.catalog-wrapper .catalog-actions-filter-btn:active {
  -webkit-box-shadow: 0 0 0 3px #dde5e9;
  box-shadow: 0 0 0 3px #dde5e9
}
.catalog-wrapper .catalog-actions-filter-btn > svg {
  width: 16px;
  height: 16px;
  margin-right: 8px
}
.catalog-wrapper .catalog-actions-results {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-right: 30px
}
.catalog-wrapper .catalog-actions-sort {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto
}
.catalog-wrapper .catalog-actions-sort-select {
  cursor: pointer;
  margin-left: 5px;
  padding: 6px 0;
  border-radius: 4px;
  border: 0;
  background-color: transparent
}
.catalog-wrapper .catalog-actions-sort-select:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 3px #dde5e9;
  box-shadow: 0 0 0 3px #dde5e9
}
.catalog-wrapper .catalog-products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px
}
.catalog-wrapper .catalog-products-col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px
}
.catalog-wrapper .catalog-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.catalog-wrapper .catalog-pagination .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font: 700 14px "IBM Plex Sans",sans-serif
}
.catalog-wrapper .catalog-pagination .pagination > li {
  display: block;
  margin-bottom: 10px
}
.catalog-wrapper .catalog-pagination .pagination > li:not(:last-child) {
  margin-right: 15px
}
.catalog-wrapper .catalog-pagination .pagination > li:first-child > a,
.catalog-wrapper .catalog-pagination .pagination > li:last-child > a {
  margin-right: 0
}
.catalog-wrapper .catalog-pagination .pagination > li:first-child > a > span,
.catalog-wrapper .catalog-pagination .pagination > li:last-child > a > span {
  width: 16px;
  height: 16px;
  background: url(../images/icons/arrow.svg) no-repeat center/contain
}
.catalog-wrapper .catalog-pagination .pagination > li:last-child > a {
  margin-left: 0
}
.catalog-wrapper .catalog-pagination .pagination > li:last-child > a > span {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1)
}
.catalog-wrapper .catalog-pagination .pagination > li > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 1px solid #dde5e9;
  background-color: #fff;
  color: #323232;
  line-height: 1
}
.catalog-wrapper .catalog-pagination .pagination > li > a[rel=prev] {
  margin-right: 30px
}
.catalog-wrapper .catalog-pagination .pagination > li > a[rel=next] {
  margin-left: 30px
}
.catalog-wrapper .catalog-pagination .pagination > li > a.active {
  pointer-events: none;
  border-color: #ffdb03;
  background-color: #ffdb03
}
.catalog-wrapper .catalog-pagination .pagination > li > a:hover {
  background-color: #eff3f6
}
.catalog-wrapper .catalog-pagination .pagination > li > a:active {
  -webkit-box-shadow: 0 0 0 3px #dde5e9;
  box-shadow: 0 0 0 3px #dde5e9;
  background-color: #fff
}
.catalog-seo-article {
  margin-top: 90px
}
.single-product {
  padding: 45px 60px;
  border: 1px solid #dde5e9;
  background-color: #fff;
  font: 400 14px "IBM Plex Sans",sans-serif
}
.single-product .ibox {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0
}
.single-product .btn {
  border-radius: 32px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #eff3f6;
  padding: 15px 25px;
  color: #323232;
  font: 400 14px "IBM Plex Sans",sans-serif;
  line-height: 1.4
}
.single-product .btn:active:focus,
.single-product .btn:focus {
  -webkit-box-shadow: 0 0 0 4px #eff3f6;
  box-shadow: 0 0 0 4px #eff3f6;
  outline: 0
}
.single-product .btn:hover {
  background-color: #dde5e9
}
.single-product .btn.btn-yellow {
  background-color: #ffdb03
}
.single-product .btn.btn-yellow:active {
  -webkit-box-shadow: 0 0 0 4px #dde5e9;
  box-shadow: 0 0 0 4px #dde5e9
}
.single-product .btn.btn-yellow:hover {
  background-color: #25373f;
  color: #fff
}
.single-product .btn.btn-dark {
  background-color: #25373f;
  color: #fff;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.single-product .btn.btn-dark:hover {
  background-color: #dde5e9;
  color: #323232
}
.single-product .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-top: -24px;
  margin-left: 0;
  border-radius: 50%;
  border: 1px solid #dde5e9;
  background-color: #fff;
  color: #76858c;
  font-size: 16px
}
.single-product .slick-arrow.slick-prev {
  left: 0
}
.single-product .slick-arrow.slick-next {
  right: 0
}
.single-product .slick-arrow.slick-next .icon {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1)
}
.single-product .slick-arrow.slick-disabled {
  pointer-events: none;
  opacity: .35
}
.single-product .slick-arrow.slick-disabled:hover {
  border-color: #dde5e9;
  background-color: #fff
}
.single-product .slick-arrow::before {
  display: none
}
.single-product .slick-arrow:hover {
  border-color: #ffdb03;
  background-color: #ffdb03;
  color: #323232
}
.single-product .slick-arrow:active {
  -webkit-box-shadow: 0 0 0 3px rgba(255,219,3,.35);
  box-shadow: 0 0 0 3px rgba(255,219,3,.35)
}
.single-product-photo {
  position: relative;
  padding-right: 30px
}
.single-product-photo .watch-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5
}
.single-product-photo .watch-video-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 15px;
  border: 1px solid #dde5e9;
  background-color: #fff;
  color: #25373f;
  line-height: 1
}
.single-product-photo .watch-video-btn > .icon {
  width: 10px;
  height: 10px;
  margin-right: 10px
}
.single-product-photo .watch-video-btn > span {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase
}
.single-product-photo .watch-video ~ .gallery-slider .gallery-slider-slide > img {
  padding-top: 40px
}
.single-product-photo .gallery-slider-slide {
  height: 560px;
  background-color: #fff;
  outline: 0
}
.single-product-photo .gallery-slider-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down
}
.single-product-photo .thumbs-slider {
  margin-top: 30px
}
.single-product-photo .thumbs-slider .slick-list {
  margin: 0 -15px
}
.single-product-photo .thumbs-slider .slick-track {
  margin-left: auto;
  margin-right: auto
}
.single-product-photo .thumbs-slider-slide {
  overflow: hidden;
  height: 84px;
  margin: 0 15px;
  border: 1px solid #dde5e9;
  background-color: #fff;
  outline: 0;
  -webkit-transition: border .3s ease;
  -o-transition: border .3s ease;
  transition: border .3s ease
}
.single-product-photo .thumbs-slider-slide.slick-current {
  pointer-events: none;
  border-color: #ffdb03
}
.single-product-photo .thumbs-slider-slide.slick-current:hover {
  border-color: #ffdb03
}
.single-product-photo .thumbs-slider-slide:hover {
  cursor: pointer;
  border-color: #becdd5
}
.single-product-photo .thumbs-slider-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down
}
.single-product-info .title {
  margin-bottom: 30px
}
.single-product-info .variations {
  margin-bottom: 30px
}
.single-product-info .variations-title {
  margin-bottom: 10px;
  color: #25373f;
  font-size: 14px
}
.single-product-info .variations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -5px
}
.single-product-info .variations-item {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 32px;
  border: 1px solid #becfd7;
  background-color: #fff;
  color: #323232;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.single-product-info .variations-item.variations-item-active {
  pointer-events: none;
  border-color: #25373f;
  background-color: #25373f;
  color: #fff
}
.single-product-info .variations-item:hover {
  background-color: #eff3f6
}
.single-product-info .price {
  margin-bottom: 20px
}
.single-product-info .price-title {
  margin-bottom: 5px;
  color: #25373f;
  font-size: 14px
}
.single-product-info .price-value {
  font-size: 26px;
  font-weight: 700
}
.single-product-info .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.single-product-info .actions .btn {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}
.single-product-info .actions .btn:not(:last-child) {
  margin-right: 15px
}
.single-product-info .attributes {
  width: 100%;
  margin-top: 30px;
  border: 0
}
.single-product-info .attributes tr:nth-child(odd) {
  background-color: #f6f6f6
}
.single-product-info .attributes td {
  width: 50%;
  padding: 12px 20px;
  border: 0;
  border-bottom: 1px solid #dde5e9;
  word-break: break-word
}
.single-product-pdf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
  background-color: #eff3f6
}
.single-product-pdf-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #25373f;
  color: #fff;
  font-size: 36px
}
.single-product-pdf-content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 24px 30px
}
.single-product-pdf-content .heading {
  padding-right: 30px
}
.single-product-pdf-content .heading-title {
  margin-bottom: 0;
  color: #25373f;
  font-size: 16px;
  font-weight: 700
}
.single-product-pdf-content .heading-descr {
  margin-top: 10px;
  margin-bottom: 0
}
.single-product-pdf-content .download-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 30px;
  border: 1px solid #dde5e9;
  background-color: #fff;
  color: #323232;
  line-height: 1
}
.single-product-pdf-content .download-btn:hover {
  border-color: #25373f;
  background-color: #25373f;
  color: #fff
}
.single-product-pdf-content .download-btn > .icon {
  width: 16px;
  height: 16px;
  margin-right: 10px
}
.single-product-pdf-content .download-btn > span {
  font-size: 14px
}
.single-product-tabs {
  margin-top: 40px
}
.single-product-tabs .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-color: #dde5e9
}
.single-product-tabs .nav-tabs > li {
  text-align: center
}
.single-product-tabs .nav-tabs > li > a {
  position: relative;
  margin-right: 30px;
  padding: 15px 0;
  border-radius: 0;
  border: 0;
  background-color: transparent;
  color: #a8b6bc;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase
}
.single-product-tabs .nav-tabs > li > a:hover {
  background-color: transparent;
  color: #25373f
}
.single-product-tabs .nav-tabs > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #25373f;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease
}
.single-product-tabs .nav-tabs > li.active > a {
  border: 0;
  color: #25373f
}
.single-product-tabs .nav-tabs > li.active > a::after {
  opacity: 1
}
.single-product-tabs .tab-content {
  margin-top: 0
}
.single-product-tabs .product-description {
  margin-top: 30px;
  color: #323232;
  font: 400 15px "IBM Plex Sans",sans-serif;
  line-height: 1.8
}
.single-product-tabs .product-description a {
  color: #b69c00
}
.single-product-tabs .product-description p {
  margin-bottom: 10px
}
.single-product-tabs .product-description ol,
.single-product-tabs .product-description ul {
  padding-left: 30px
}
.single-product-tabs .product-description ol ~ h1,
.single-product-tabs .product-description ol ~ h2,
.single-product-tabs .product-description ol ~ h3,
.single-product-tabs .product-description ol ~ h4,
.single-product-tabs .product-description ol ~ h5,
.single-product-tabs .product-description ol ~ h6,
.single-product-tabs .product-description p ~ h1,
.single-product-tabs .product-description p ~ h2,
.single-product-tabs .product-description p ~ h3,
.single-product-tabs .product-description p ~ h4,
.single-product-tabs .product-description p ~ h5,
.single-product-tabs .product-description p ~ h6,
.single-product-tabs .product-description table ~ h1,
.single-product-tabs .product-description table ~ h2,
.single-product-tabs .product-description table ~ h3,
.single-product-tabs .product-description table ~ h4,
.single-product-tabs .product-description table ~ h5,
.single-product-tabs .product-description table ~ h6,
.single-product-tabs .product-description ul ~ h1,
.single-product-tabs .product-description ul ~ h2,
.single-product-tabs .product-description ul ~ h3,
.single-product-tabs .product-description ul ~ h4,
.single-product-tabs .product-description ul ~ h5,
.single-product-tabs .product-description ul ~ h6 {
  margin-top: 30px
}
.single-product-tabs .product-description h1,
.single-product-tabs .product-description h2,
.single-product-tabs .product-description h3,
.single-product-tabs .product-description h4,
.single-product-tabs .product-description h5,
.single-product-tabs .product-description h6,
.single-product-tabs .product-description ol,
.single-product-tabs .product-description table,
.single-product-tabs .product-description ul {
  margin-bottom: 20px
}
.single-product-tabs .product-description h1,
.single-product-tabs .product-description h2,
.single-product-tabs .product-description h3 {
  font-weight: 700;
  font-size: 24px
}
.single-product-tabs .product-description h4,
.single-product-tabs .product-description h5,
.single-product-tabs .product-description h6 {
  font-size: 20px
}
.single-product-tabs .product-description table {
  width: 100%
}
.single-product-tabs .product-description table td {
  padding: 8px 12px;
  border: 1px solid #dde5e9;
  word-break: break-word
}
.single-product-tabs .product-testimonials {
  margin-top: 15px
}
.single-product-tabs .product-testimonials-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 0
}
.single-product-tabs .product-testimonials-item:not(:last-child) {
  border-bottom: 1px solid #dde5e9
}
.single-product-tabs .product-testimonials-item .picture {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #ffdb03;
  color: #323232;
  font-size: 16px
}
.single-product-tabs .product-testimonials-item .title {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-right: 30px
}
.single-product-tabs .product-testimonials-item .link {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.single-product-tabs .product-testimonials-item .link:hover {
  text-decoration: none
}
.single-product-tabs .product-testimonials-item .link:hover > .icon {
  fill: #25373f
}
.single-product-tabs .product-testimonials-item .link:hover > span {
  color: #25373f
}
.single-product-tabs .product-testimonials-item .link > .icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  fill: #76858c;
  -webkit-transition: fill .3s ease;
  -o-transition: fill .3s ease;
  transition: fill .3s ease
}
.single-product-tabs .product-testimonials-item .link > span {
  color: #323232;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease
}
.single-product-tabs .product-faq .faq-list {
  padding-right: 30px
}
.single-product-tabs .product-faq .faq-item {
  padding-top: 30px
}
.single-product-tabs .product-faq .faq-item:not(:last-child) {
  padding-bottom: 30px;
  border-bottom: 1px solid #dde5e9
}
.single-product-tabs .product-faq .faq-item-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.single-product-tabs .product-faq .faq-item-heading .title {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #76858c;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase
}
.single-product-tabs .product-faq .faq-item-heading .rating {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: -8px;
  margin-right: -8px
}
.single-product-tabs .product-faq .faq-item-heading .rating-down,
.single-product-tabs .product-faq .faq-item-heading .rating-up {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2px 8px;
  background-color: transparent;
  line-height: 1
}
.single-product-tabs .product-faq .faq-item-heading .rating-down > .icon,
.single-product-tabs .product-faq .faq-item-heading .rating-up > .icon {
  width: 20px;
  height: 20px;
  margin-right: 8px
}
.single-product-tabs .product-faq .faq-item-heading .rating-down > span,
.single-product-tabs .product-faq .faq-item-heading .rating-up > span {
  font-size: 12px
}
.single-product-tabs .product-faq .faq-item-heading .rating-up > .icon {
  fill: #49c135
}
.single-product-tabs .product-faq .faq-item-heading .rating-up:hover {
  color: #49c135
}
.single-product-tabs .product-faq .faq-item-heading .rating-up:active,
.single-product-tabs .product-faq .faq-item-heading .rating-up:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(73,193,53,.35);
  box-shadow: 0 0 0 2px rgba(73,193,53,.35)
}
.single-product-tabs .product-faq .faq-item-heading .rating-up:active > span,
.single-product-tabs .product-faq .faq-item-heading .rating-up:focus > span {
  color: #3da52b
}
.single-product-tabs .product-faq .faq-item-heading .rating-down > .icon {
  fill: #db1b1b
}
.single-product-tabs .product-faq .faq-item-heading .rating-down:hover {
  color: #db1b1b
}
.single-product-tabs .product-faq .faq-item-heading .rating-down:active,
.single-product-tabs .product-faq .faq-item-heading .rating-down:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(219,27,27,.35);
  box-shadow: 0 0 0 2px rgba(219,27,27,.35)
}
.single-product-tabs .product-faq .faq-item-heading .rating-down:active > span,
.single-product-tabs .product-faq .faq-item-heading .rating-down:focus > span {
  color: #af1515
}
.single-product-tabs .product-faq .faq-item-heading .question {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.6
}
.single-product-tabs .product-faq .faq-item-body {
  margin-top: 20px;
  padding-left: 20px;
  border-left: 3px solid #ffdb03
}
.single-product-tabs .product-faq .faq-item-body .title {
  color: #76858c;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase
}
.single-product-tabs .product-faq .faq-item-body .answer {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.6
}
.single-product-tabs .product-faq .faq-item-body .answer > p {
  margin-bottom: 10px
}
.single-product-tabs .product-faq .faq-item-body .answer > p:last-child {
  margin-bottom: 0
}
.single-product-tabs .product-faq .faq-ask {
  margin-top: 30px
}
.single-product-tabs .product-faq .faq-ask-title {
  margin-bottom: 0
}
.single-product-tabs .product-faq .faq-ask-descr {
  margin-top: 12px;
  margin-bottom: 0
}
.single-product-tabs .product-faq .faq-ask-btn {
  margin-top: 30px
}
.single-product-tabs .product-faq .faq-ask-form {
  display: none;
  margin-top: 30px
}
.single-product-tabs .product-faq .faq-ask-form .form-textarea {
  resize: vertical;
  min-height: 160px;
  max-height: 320px;
  padding: 20px;
  border: 1px solid #e8e8e8;
  background-color: #f6f6f6;
  font: 400 14px "IBM Plex Sans",sans-serif;
  color: #323232
}
.single-product-tabs .product-faq .faq-ask-form .form-textarea:focus {
  -webkit-box-shadow: 0 0 0 2px #dde5e9;
  box-shadow: 0 0 0 2px #dde5e9
}
.single-product-tabs .product-faq .faq-ask-form .form-textarea::-webkit-input-placeholder {
  color: #858585
}
.single-product-tabs .product-faq .faq-ask-form .form-textarea::-moz-placeholder {
  color: #858585
}
.single-product-tabs .product-faq .faq-ask-form .form-textarea:-ms-input-placeholder {
  color: #858585
}
.single-product-tabs .product-faq .faq-ask-form .form-textarea::-ms-input-placeholder {
  color: #858585
}
.single-product-tabs .product-faq .faq-ask-form .form-textarea::placeholder {
  color: #858585
}
.single-product-tabs .product-faq .faq-ask-form .btn-submit {
  margin-top: 30px
}
.modal.modal-retail .modal-lg {
  width: 100%;
  max-width: 654px
}
.modal.modal-retail .modal-dialog {
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.modal.modal-retail .modal-content {
  width: 100%;
  padding: 40px;
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none
}
.modal.modal-retail .modal-header {
  padding: 0;
  border-bottom: 0
}
.modal.modal-retail .modal-header .close {
  position: absolute;
  top: -46px;
  right: 0;
  text-shadow: none;
  color: #fff;
  line-height: 1;
  font-size: 42px;
  font-weight: 400;
  opacity: 1
}
.modal.modal-retail .modal-header .close:hover {
  opacity: .6
}
.modal.modal-retail .modal-header .close > span {
  display: block
}
.modal.modal-retail .modal-title {
  margin-bottom: 12px
}
.modal.modal-retail .modal-descr {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.4
}
.modal.modal-retail .modal-body {
  margin-top: 30px;
  padding: 0
}
.modal.modal-retail .retail-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: -15px
}
.modal.modal-retail .retail-list-item {
  height: 60px;
  margin-right: 15px;
  margin-bottom: 15px;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease
}
.modal.modal-retail .retail-list-item:hover {
  opacity: .65
}
.modal.modal-retail .retail-list-item > img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down
}
@media (max-width:1199.98px) {
  .text-36 {
    font-size: 32px
  }
  .main-catalog-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .catalog-aside {
    -ms-flex-preferred-size: auto;
    flex-basis: auto
  }
  .catalog-aside-toggler {
    display: block
  }
  .catalog-aside-wrapper {
    display: none;
    height: 300px
  }
  .catalog-wrapper {
    margin-top: 30px;
    margin-left: 0
  }
  .single-product {
    padding: 30px
  }
  .single-product-photo .gallery-slider-slide {
    height: 460px
  }
}
@media (max-width:991.98px) {
  .text-36 {
    font-size: 28px
  }
  .text-24 {
    font-size: 22px
  }
  .card-product .card-preview .card-gallery-item:not(:first-child) {
    display: none
  }
  .card-product .card-preview .card-gallery-item-nav {
    display: none
  }
  .single-product-photo {
    margin-bottom: 40px;
    padding-right: 0
  }
  .single-product-tabs .product-faq .faq-list {
    padding-right: 0
  }
  .single-product-tabs .product-faq .faq-ask {
    margin-top: 45px
  }
}
@media (max-width:767.98px) {
  .card-product .card-preview .card-gallery-item {
    height: 160px
  }
  .card-product .card-preview .card-gallery-item img {
    padding-bottom: 0
  }
  .card-product .card-preview .card-photo {
    height: 160px
  }
  .catalog-filters-inner {
    max-width: 320px;
    padding: 30px
  }
  .catalog-aside-toggler-btn {
    font-size: 14px
  }
  .catalog-wrapper .catalog-tags .tags {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 5px
  }
  .catalog-wrapper .catalog-tags .tags-link {
    padding: 8px 16px
  }
  .catalog-wrapper .catalog-search-form-field {
    height: 54px
  }
  .catalog-wrapper .catalog-actions-filter {
    margin-right: 20px
  }
  .catalog-wrapper .catalog-actions-results {
    margin-right: 20px
  }
  .catalog-wrapper .catalog-products-col {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%
  }
  .single-product-pdf-icon {
    display: none
  }
  .single-product-pdf-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center
  }
  .single-product-pdf-content .heading {
    padding-right: 0
  }
  .single-product-pdf-content .download {
    margin-top: 15px
  }
}
@media (max-width:575.98px) {
  .text-36 {
    font-size: 24px
  }
  .text-24 {
    font-size: 20px
  }
  .card-product .card-preview {
    padding: 15px 15px 0
  }
  .card-product .card-meta {
    padding: 15px
  }
  .card-product .card-meta .category {
    font-size: 13px
  }
  .card-product .card-meta .permalink {
    font-size: 14px
  }
  .catalog-aside-wrapper {
    padding: 10px
  }
  .catalog-wrapper .catalog-actions-filter {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 15px
  }
  .catalog-wrapper .catalog-actions-filter-btn {
    width: 100%;
    padding: 15px 20px
  }
  .catalog-wrapper .catalog-products-list {
    margin-left: -8px;
    margin-right: -8px
  }
  .catalog-wrapper .catalog-products-col {
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px
  }
  .catalog-wrapper .catalog-pagination .pagination > li > a[rel=prev] {
    margin-right: 0
  }
  .catalog-wrapper .catalog-pagination .pagination > li > a[rel=next] {
    margin-left: 0
  }
  .single-product {
    padding: 20px
  }
  .single-product .slick-arrow {
    width: 36px;
    height: 36px;
    font-size: 14px
  }
  .single-product-photo .gallery-slider-slide {
    height: 280px
  }
  .single-product-photo .thumbs-slider .slick-list {
    margin: 0 -8px
  }
  .single-product-photo .thumbs-slider-slide {
    height: 64px;
    margin: 0 8px
  }
  .single-product-info .variations-item {
    padding: 8px 12px;
    font-size: 12px
  }
  .single-product-info .actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
  }
  .single-product-info .actions .btn:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px
  }
  .single-product-info .attributes td {
    padding: 8px 12px;
    font-size: 13px
  }
  .single-product-pdf {
    margin-top: 30px
  }
  .single-product-pdf-content {
    padding: 24px 12px
  }
  .single-product-tabs {
    margin-top: 30px
  }
  .single-product-tabs .nav-tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 0
  }
  .single-product-tabs .nav-tabs > li > a {
    margin-right: 0;
    margin-bottom: 1px;
    border-bottom: 1px solid #dde5e9;
    background-color: #f9f9f9
  }
  .single-product-tabs .nav-tabs > li > a::after {
    display: none
  }
  .single-product-tabs .nav-tabs > li.active > a {
    border-bottom: 1px solid #25373f;
    background-color: #25373f;
    color: #fff
  }
  .single-product-tabs .product-description table td {
    padding: 8px 12px;
    font-size: 13px
  }
  .single-product-tabs .product-testimonials-item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .single-product-tabs .product-testimonials-item .picture {
    position: absolute;
    top: 18px;
    left: 0
  }
  .single-product-tabs .product-testimonials-item .title {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    padding-right: 0;
    margin-left: 45px
  }
  .single-product-tabs .product-testimonials-item .link {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-top: 10px;
    margin-left: 45px
  }
  .single-product-tabs .product-faq .faq-item-heading .question {
    font-size: 14px
  }
  .single-product-tabs .product-faq .faq-item-body .answer {
    font-size: 14px
  }
  .single-product-tabs .product-faq .faq-ask-form .form-textarea {
    padding: 15px
  }
  .modal.modal-retail {
    padding: 15px!important
  }
  .modal.modal-retail .modal-content {
    padding: 24px
  }
}
@media (max-width:374.98px) {
  .card-product .card-preview .card-gallery-item {
    height: 140px
  }
  .card-product .card-preview .card-photo {
    height: 140px
  }
  .catalog-filters-inner {
    padding: 20px
  }
  .catalog-wrapper .catalog-products-col {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%
  }
}