@charset "UTF-8";
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.woff) format("woff"),url(../fonts/Montserrat-Regular.woff2) format("woff2")
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.woff) format("woff"),url(../fonts/Montserrat-Medium.woff2) format("woff2")
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Montserrat-Bold.woff) format("woff"),url(../fonts/Montserrat-Bold.woff2) format("woff2")
}
@font-face {
  font-family: PTSerif;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/PTSerif-Italic.woff) format("woff"),url(../fonts/PTSerif-Italic.woff2) format("woff2")
}
::-webkit-input-placeholder {
  color: #6e6e72
}
::-moz-placeholder {
  color: #6e6e72
}
:-ms-input-placeholder {
  color: #6e6e72
}
::-ms-input-placeholder {
  color: #6e6e72
}
::placeholder {
  color: #6e6e72
}
::-moz-selection {
  background-color: #fbbf04;
  color: #fff
}
::selection {
  background-color: #fbbf04;
  color: #fff
}
input,
textarea {
  outline: 0;
  font-family: Montserrat,sans-serif
}
input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red
}
input:required:valid,
textarea:required:valid {
  border-color: accent
}
body {
  overflow-x: hidden;
  position: relative;
  min-width: 320px;
  color: #292c30;
  font-family: Montserrat,sans-serif;
  font-size: 18px;
  line-height: 1.5
}
body.lock-scroll {
  overflow: hidden;
  height: 100%
}
figure {
  margin: 0
}
ul {
  list-style: none;
  margin: 0;
  padding: 0
}
a {
  color: #103293;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
a:hover {
  color: #3082fe;
  text-decoration: none
}
b,
strong {
  font-weight: 700
}
p {
  margin-bottom: 0
}
p:not(:first-of-type) {
  margin-top: 15px
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #292c30;
  line-height: 1.3
}
h1 {
  font-size: 48px
}
h2 {
  font-size: 36px
}
h3 {
  font-size: 28px
}
h4 {
  font-size: 24px
}
h5,
h6 {
  font-size: 15px
}
hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 30px 0;
  background-color: #eee;
  border: 0
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor
}
img.lazy {
  position: relative;
  border: 0;
  opacity: 0
}
img.lazy:not([src]) {
  visibility: hidden
}
img.lazy:not(.initial) {
  -webkit-transition: opacity .75s ease .2s,-webkit-transform .3s ease;
  transition: opacity .75s ease .2s,-webkit-transform .3s ease;
  -o-transition: opacity .75s ease .2s,transform .3s ease;
  transition: opacity .75s ease .2s,transform .3s ease;
  transition: opacity .75s ease .2s,transform .3s ease,-webkit-transform .3s ease
}
img.error,
img.initial,
img.loaded {
  opacity: 1
}
.mt-40 {
  margin-top: 40px
}
.mb-40 {
  margin-bottom: 40px
}
.mt-30 {
  margin-top: 30px
}
.mb-30 {
  margin-bottom: 30px
}
.mt-20 {
  margin-top: 20px
}
.mb-20 {
  margin-bottom: 20px
}
.mt-0 {
  margin-top: 0
}
.mb-0 {
  margin-bottom: 0
}
.w-thin {
  font-weight: 100
}
.w-light {
  font-weight: 200
}
.w-book {
  font-weight: 300
}
.w-regular {
  font-weight: 400
}
.w-medium {
  font-weight: 500
}
.w-semibold {
  font-weight: 600
}
.w-bold {
  font-weight: 700
}
.w-bolder {
  font-weight: 800
}
.w-black {
  font-weight: 900
}
.text-xl {
  font-size: 30px
}
.text-lg {
  font-size: 26px
}
.text-md {
  font-size: 22px
}
.text-sm {
  font-size: 18px
}
.text-xs {
  font-size: 14px
}
.btn,
button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  padding: 0 20px;
  border-radius: 8px;
  border: 0;
  background-color: #fbbf04;
  color: #292c30;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  white-space: nowrap;
  outline: 0!important;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.btn:hover,
button:hover {
  color: #fff;
  background-color: #292c30
}
.btn .icon,
button .icon {
  font-size: 24px
}
.btn-large,
button-large {
  height: 64px
}
.btn-subscribe,
button-subscribe {
  padding: 0 16px;
  border: 1px solid rgba(255,255,255,.3);
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 700
}
.btn-subscribe:hover,
button-subscribe:hover {
  background-color: #fff;
  color: #3082fe
}
.btn-subscribe .icon,
button-subscribe .icon {
  font-size: 32px
}
.btn-icon-left .icon,
button-icon-left .icon {
  margin-right: 10px
}
.btn-icon-right .icon,
button-icon-right .icon {
  margin-left: 10px
}
.form {
  position: relative
}
.form-label {
  margin-bottom: 12px;
  color: #292c30;
  font-size: 15px;
  cursor: pointer
}
.form-control,
.form-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 18px;
  color: #292c30;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  border: 0;
  background-color: #f0f0f3;
  background-clip: padding-box;
  color: #292c30;
  -webkit-transition: border-color .3s ease-in-out,background-color .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;
  transition: border-color .3s ease-in-out,background-color .3s ease-in-out,-webkit-box-shadow .3s ease-in-out;
  -o-transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out,background-color .3s ease-in-out;
  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out,background-color .3s ease-in-out;
  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out,background-color .3s ease-in-out,-webkit-box-shadow .3s ease-in-out
}
.form-control:focus,
.form-textarea:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(102,166,254,.5);
  box-shadow: 0 0 0 3px rgba(102,166,254,.5);
  background-color: #fff
}
.form-control {
  height: 64px;
  line-height: 48px
}
.form-control--number {
  -moz-appearance: textfield
}
.form-control--number::-webkit-inner-spin-button,
.form-control--number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}
.form-textarea {
  resize: none
}
.form-submit {
  height: 58px
}
.form--light .form-control,
.form--light .form-textarea {
  background-color: #fff
}
.form--light .form-control:focus,
.form--light .form-textarea:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(255,222,106,.5);
  box-shadow: 0 0 0 3px rgba(255,222,106,.5)
}
.card {
  position: relative;
  height: 100%;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.card-photo {
  overflow: hidden;
  height: 256px;
  border-radius: 16px
}
.card-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.card-photo-animate img {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01)
}
.card-photo-animate:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}
.card-meta {
  margin-top: 24px
}
.card-meta .title {
  color: #292c30;
  font-size: 24px;
  font-weight: 500
}
.card-meta .price {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase
}
.card-meta .date {
  display: block;
  margin-top: 24px
}
.card-tour {
  border-radius: 0 0 16px 16px
}
.card-tour .card-photo {
  border-radius: 16px 16px 0 0
}
.card-tour .card-meta {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0;
  padding: 24px;
  border-radius: 0 0 16px 16px;
  background-color: #ffde6a;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.card-tour .card-meta .info {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0 24px 32px;
  border-radius: 0 0 16px 16px;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 28px -8px rgba(0,0,0,.25);
  box-shadow: 0 20px 28px -8px rgba(0,0,0,.25);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.card-tour .card-meta .info .btn {
  margin-top: 30px
}
.card-tour:hover {
  z-index: 2;
  -webkit-box-shadow: 0 20px 28px -8px rgba(0,0,0,.25);
  box-shadow: 0 20px 28px -8px rgba(0,0,0,.25)
}
.card-tour:hover .card-meta {
  border-radius: 0;
  background-color: #fff
}
.card-tour:hover .card-meta .info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0)
}
.card-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.card-blog .card-photo {
  height: 272px
}
.card-blog .card-title {
  margin: 24px 0
}
.card-blog .card-title > a {
  border-bottom: 1px solid rgba(255,255,255,.3);
  color: #fff;
  font-size: 24px
}
.card-blog .card-title > a:hover {
  border-bottom-color: #fff
}
.card-blog .card-date {
  margin-top: auto;
  color: rgba(255,255,255,.6)
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(50px,0);
  -ms-transform: translate(50px,0);
  transform: translate(50px,0)
}
.modal.show .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none
}
.modal-dialog {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 16px
}
.modal-content {
  border-radius: 8px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none
}
.modal-header {
  padding: 32px 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #f0f0f3
}
.modal-header .close {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  border-radius: 50%;
  background-color: #f0f0f3;
  color: #b3b3b8
}
.modal-header .close:hover {
  background-color: #fbbf04;
  color: #292c30
}
.modal-title {
  padding-right: 40px;
  line-height: 1.3
}
.modal-body {
  padding: 32px 40px
}
.modal-form .form-submit {
  margin-top: 12px
}
.modal-descr {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4
}
.modal-footer {
  padding: 32px 40px;
  border-top: 1px solid #f0f0f3
}
.modal-footer .btn {
  height: 58px;
  font-size: 16px
}
.modal-footer .btn .icon {
  margin-left: 6px;
  font-size: 20px
}
.label-arrow {
  position: relative;
  display: inline-block;
  color: #fff;
  font-family: PTSerif,sans-serif;
  line-height: 1.2;
  font-weight: 200
}
.label-arrow::after {
  content: '';
  position: absolute;
  top: 100%;
  left: -20px;
  width: 64px;
  height: 14px;
  background: url(../images/icons/arrow.svg) no-repeat center/cover
}
.header {
  background-color: #3082fe;
  margin-bottom: 25px
}
.header-top {
  padding: 16px 0;
  border-bottom: 1px solid rgba(255,255,255,.1)
}
.header-top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.header-top-inner .calculate {
  margin-right: 106px
}
.header-top-inner .callback {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header-top-inner .callback-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header-top-inner .callback-form .form-control {
  height: 48px;
  margin-bottom: 0
}
.header-top-inner .callback-form .form-submit {
  height: 48px;
  margin-left: 16px
}
.header-top-inner .callback-label {
  margin-top: -4px;
  margin-left: 26px
}
.header-top-inner .subscribe {
  margin-left: 45px
}
.header-middle-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 10px 0 25px
}
.header-middle-inner .burger,
.header-middle-inner .phone {
  display: none
}
.header-middle-inner .burger-btn,
.header-middle-inner .phone-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.3);
  background-color: transparent;
  color: #fff
}
.header-middle-inner .burger-btn:hover,
.header-middle-inner .phone-btn:hover {
  background-color: #fff;
  color: #3082fe
}
.header-middle-inner .burger-btn .icon,
.header-middle-inner .phone-btn .icon {
  font-size: 32px
}
.header-middle-inner .logo {
  max-width: 216px;
  margin-right: 80px
}
.header-middle-inner .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.header-middle-inner .contacts-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px
}
.header-middle-inner .contacts-item:not(:last-child) {
  margin-right: 48px
}
.header-middle-inner .contacts-item .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff
}
.header-middle-inner .contacts-item .picture .icon-metro {
  font-size: 16px
}
.header-middle-inner .contacts-item .picture .icon-metro--blue {
  color: #1474b7
}
.header-middle-inner .contacts-item .picture .icon-metro--yellow {
  color: #fecc39
}
.header-middle-inner .contacts-item .picture .icon-metro--gray {
  color: #adacac
}
.header-middle-inner .contacts-item .title {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  font-family: PTSerif,sans-serif;
  font-style: italic;
  font-size: 20px;
  line-height: 1
}
.header-middle-inner .contacts-item .title::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(255,255,255,.3)
}
.header-middle-inner .contacts-item .phone {
  display: block;
  margin-top: 5px;
  line-height: 1
}
.header-middle-inner .contacts-item .phone > a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 700
}
.header-middle-inner .contacts-item .phone > a:hover {
  color: #fbbf04
}
.header-bottom {
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e7
}
.header-bottom-inner .navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.header-bottom-inner .navigation-list > li {
  position: relative
}
.header-bottom-inner .navigation-list > li:not(:last-child) {
  margin-right: 48px
}
.header-bottom-inner .navigation-list > li.daily > a,
.header-bottom-inner .navigation-list > li.hot > a,
.header-bottom-inner .navigation-list > li.weekend > a {
  position: relative;
  padding-left: 40px
}
.header-bottom-inner .navigation-list > li.daily > a::before,
.header-bottom-inner .navigation-list > li.hot > a::before,
.header-bottom-inner .navigation-list > li.weekend > a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ffde6a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%
}
.header-bottom-inner .navigation-list > li.hot > a::before {
  background-image: url(../images/icons/hot.svg)
}
.header-bottom-inner .navigation-list > li.daily > a::before {
  background-image: url(../images/icons/daily.svg)
}
.header-bottom-inner .navigation-list > li.weekend > a::before {
  background-image: url(../images/icons/weekend.svg)
}
.header-bottom-inner .navigation-list > li > a,
.header-bottom-inner .navigation-list > li > span {
  cursor: pointer;
  display: inline-block;
  color: #103293;
  font-size: 15px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.header-bottom-inner .navigation-list > li > a:hover,
.header-bottom-inner .navigation-list > li > span:hover {
  color: #3082fe
}
.header-bottom-inner .navigation-list > li:hover > ul {
  z-index: 9;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0)
}
.header-bottom-inner .navigation-list > li > ul {
  position: absolute;
  top: 100%;
  left: -14px;
  z-index: -1;
  width: 255px;
  padding: 24px 16px;
  border-radius: 8px;
  -webkit-box-shadow: 0 20px 28px rgba(0,0,0,.15);
  box-shadow: 0 20px 28px rgba(0,0,0,.15);
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
  opacity: 0;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.header-bottom-inner .navigation-list > li > ul:hover {
  visibility: visible;
  opacity: 1
}
.header-bottom-inner .navigation-list > li > ul > li {
  line-height: 1.3
}
.header-bottom-inner .navigation-list > li > ul > li:not(:last-child) {
  margin-bottom: 8px
}
.header-bottom-inner .navigation-list > li > ul > li > a {
  display: inline-block;
  color: #3082fe;
  font-size: 13px;
  font-weight: 700
}
.header-bottom-inner .navigation-list > li > ul > li > a:hover {
  color: #292c30
}
.footer {
  margin-top: 120px;
  border-top: 1px solid #e3e3e7
}
.footer-main {
  position: relative;
  padding-top: 40px;
  padding-bottom: 52px
}
.footer-main .upward {
  position: absolute;
  top: -20px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 56px;
  height: 40px;
  border-radius: 48px;
  background-color: #f0f0f3;
  color: #292c30;
  font-size: 24px
}
.footer-main .upward .icon {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.footer-main .upward:hover {
  background-color: #292c30;
  color: #fff
}
.footer-main .logo {
  max-height: 86px
}
.footer-main .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 10px
}
.footer-main .contacts-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 160px;
  flex: 0 0 160px;
  margin: 8px 0
}
.footer-main .contacts-item:not(:last-child) {
  margin-right: 40px
}
.footer-main .contacts-item .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff
}
.footer-main .contacts-item .picture .icon-metro {
  font-size: 16px
}
.footer-main .contacts-item .picture .icon-metro--blue {
  color: #1474b7
}
.footer-main .contacts-item .picture .icon-metro--yellow {
  color: #fecc39
}
.footer-main .contacts-item .picture .icon-metro--gray {
  color: #adacac
}
.footer-main .contacts-item .title {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  color: #292c30;
  font-family: PTSerif,sans-serif;
  font-style: italic;
  font-size: 20px;
  line-height: 1
}
.footer-main .contacts-item .title::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(41,44,48,.3)
}
.footer-main .contacts-item .phone {
  display: block;
  margin-top: 5px;
  line-height: 1
}
.footer-main .contacts-item .phone > a {
  display: inline-block;
  color: #292c30;
  font-size: 14px;
  font-weight: 700
}
.footer-main .contacts-item .phone > a:hover {
  color: #3082fe
}
.footer-navigation {
  margin-top: 45px
}
.footer-navigation .menu > li {
  margin: 8px 0
}
.footer-navigation .menu > li > a {
  display: inline-block;
  color: #292c30;
  font-size: 14px;
  font-weight: 700;
  word-break: break-word
}
.footer-navigation .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.footer-navigation .social-item {
  margin-bottom: 24px
}
.footer-navigation .social-item:not(:last-child) {
  margin-right: 24px
}
.footer-navigation .social-item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffde6a;
  color: #292c30;
  font-size: 24px
}
.footer-navigation .social-item > a:hover {
  background-color: #3082fe;
  color: #fff
}
.footer-copyright {
  padding: 12px 0;
  background-color: #e3e3e7
}
.footer-copyright .copyright {
  display: inline-block;
  font-size: 14px
}
.m-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 199;
  max-width: 380px;
  margin-right: 32px;
  height: 100%;
  background-color: #3082fe;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.m-menu.is-active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0)
}
.m-menu-close {
  position: fixed;
  top: 0;
  left: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 0;
  background-color: #292c30;
  color: #fff
}
.m-menu-close .icon {
  font-size: 32px
}
.m-menu-close:hover {
  background-color: #fbbf04;
  color: #292c30
}
.m-menu .container {
  padding-left: 16px
}
.m-menu-inner {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 34px
}
.m-menu-main {
  height: 100%;
  padding-top: 16px
}
.m-menu-nav .nav-list > li {
  position: relative
}
.m-menu-nav .nav-list > li:not(:last-child) {
  margin-bottom: 16px
}
.m-menu-nav .nav-list > li.daily > a,
.m-menu-nav .nav-list > li.hot > a,
.m-menu-nav .nav-list > li.weekend > a {
  position: relative
}
.m-menu-nav .nav-list > li.daily > a::before,
.m-menu-nav .nav-list > li.hot > a::before,
.m-menu-nav .nav-list > li.weekend > a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ffde6a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%
}
.m-menu-nav .nav-list > li.hot > a::before {
  background-image: url(../images/icons/hot.svg)
}
.m-menu-nav .nav-list > li.daily > a::before {
  background-image: url(../images/icons/daily.svg)
}
.m-menu-nav .nav-list > li.weekend > a::before {
  background-image: url(../images/icons/weekend.svg)
}
.m-menu-nav .nav-list > li > a,
.m-menu-nav .nav-list > li > span {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-left: 45px;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: .5px;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.m-menu-nav .nav-list > li.submenu > a::before,
.m-menu-nav .nav-list > li.submenu > span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url(../images/icons/arrow-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.m-menu-nav .nav-list > li.is-toggled > a::before,
.m-menu-nav .nav-list > li.is-toggled > span::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}
.m-menu-nav .nav-list > li > ul {
  display: none
}
.m-menu-nav .nav-list > li > ul > li {
  margin-top: 8px;
  padding-left: 45px;
  line-height: 1.3
}
.m-menu-nav .nav-list > li > ul > li > a {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: 500
}
.m-menu-nav .nav-list > li > ul .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.m-menu-nav .nav-list > li > ul .contacts-item {
  position: relative
}
.m-menu-nav .nav-list > li > ul .contacts-item:not(:last-child) {
  margin-bottom: 16px
}
.m-menu-nav .nav-list > li > ul .contacts-item .picture {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff
}
.m-menu-nav .nav-list > li > ul .contacts-item .picture .icon-metro {
  font-size: 16px
}
.m-menu-nav .nav-list > li > ul .contacts-item .picture .icon-metro--blue {
  color: #1474b7
}
.m-menu-nav .nav-list > li > ul .contacts-item .picture .icon-metro--yellow {
  color: #fecc39
}
.m-menu-nav .nav-list > li > ul .contacts-item .picture .icon-metro--gray {
  color: #adacac
}
.m-menu-nav .nav-list > li > ul .contacts-item .title {
  position: relative;
  display: inline-block;
  margin-top: 4px;
  margin-left: 32px;
  color: #fff;
  font-family: PTSerif,sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 1
}
.m-menu-nav .nav-list > li > ul .contacts-item .title::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(255,255,255,.3)
}
.m-menu-nav .nav-list > li > ul .contacts-item .phone {
  display: block;
  margin-top: 5px;
  margin-left: 32px;
  line-height: 1
}
.m-menu-nav .nav-list > li > ul .contacts-item .phone > a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 700
}
.m-menu-nav .nav-list > li > ul .contacts-item .phone > a:hover {
  color: #fbbf04
}
.m-menu-subscribe {
  margin-top: 24px
}
.section {
  position: relative;
  margin-top: 72px
}
.section-inner {
  padding: 72px 0
}
.section-title {
  font-size: 36px
}
.section-title--white {
  color: #fff
}
.section-title--white > span {
  color: #fbbf04
}
.section-content {
  margin-top: 40px
}
.breadcrumbs {
  margin-top: 8px
}
.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.breadcrumbs-list > li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.5
}
.breadcrumbs-list > li:not(:last-child)::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 1px;
  margin: 0 10px;
  background-color: #bbb
}
.breadcrumbs-list > li > a {
  color: #8c8c8c;
  font-size: 15px;
  font-weight: 200
}
.breadcrumbs-list > li > a.home {
  width: 16px;
  height: 16px;
  background: url(../../images/dest/icons/home.svg) no-repeat center/16px
}
.breadcrumbs-list > li > a.home:hover {
  opacity: .75
}
.breadcrumbs-list > li > a:hover {
  color: #fbbf04
}
.breadcrumbs-list > li > span {
  color: #8c8c8c;
  font-size: 15px;
  font-weight: 200
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500
}
article h1:not(:first-of-type),
article h2:not(:first-of-type),
article h3:not(:first-of-type),
article h4:not(:first-of-type),
article h5:not(:first-of-type),
article h6:not(:first-of-type) {
  margin-top: 40px
}
article blockquote,
article img,
article ol,
article p,
article table,
article ul {
  margin-bottom: 10px
}
article b,
article strong {
  font-weight: 500
}
article a {
  color: #292c30;
  font-weight: 500
}
article a:hover {
  color: #fbbf04
}
.cta-wrapper {
  position: relative;
  z-index: 1;
  padding: 40px 48px;
  border-radius: 16px;
  background-color: #66a6fe
}
.cta-title {
  max-width: 420px;
  margin-bottom: 45px;
  color: #fff
}
.cta-link-btn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 285px
}
.cta-link-label {
  margin-left: 32px;
  font-style: italic
}
.cta-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 865px
}
.cta-form .form-control {
  height: 64px;
  margin-right: 24px;
  margin-bottom: 0
}
.cta-form-date {
  -ms-flex-preferred-size: 26%;
  flex-basis: 26%
}
.cta-form-email {
  -ms-flex-preferred-size: 44%;
  flex-basis: 44%
}
.cta-form-submit {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%
}
.cta-photo {
  position: absolute;
  right: 0;
  bottom: -20px;
  z-index: -1
}
.cta-offer {
  padding-top: 32px
}
.cta-offer .cta-photo {
  right: 10px;
  bottom: 0
}
.countries-wrapper {
  margin-top: 72px
}
.countries-section {
  padding: 32px 0;
  border-top: 1px solid #e3e3e7
}
.countries-name {
  margin-bottom: 24px;
  color: #6e6e72;
  text-transform: uppercase
}
.countries-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.countries-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  margin: 8px 0
}
.countries-item > a {
  display: block;
  color: #292c30
}
.countries-item > a:hover {
  color: #3082fe
}
.countries-item > a > img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #f0f0f3;
  -o-object-fit: cover;
  object-fit: cover
}
.countries-item > a > span {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 700
}
@media (max-width:1293.98px) {
  .header-top-inner .calculate {
    margin-right: 32px
  }
  .header-top-inner .callback-label {
    display: none
  }
  .header-top-inner .subscribe {
    margin-left: 24px
  }
  .header-middle-inner .logo {
    margin-right: 38px
  }
  .header-middle-inner .contacts-item:not(:last-child) {
    margin-right: 16px
  }
  .header-bottom-inner .navigation-list > li:not(:last-child) {
    margin-right: 20px
  }
  .cta-tour .cta-photo {
    top: 50%;
    right: 10px;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
  }
  .cta-tour .cta-photo img {
    height: 232px
  }
}
@media (max-width:1023.98px) {
  .header-top-inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .header-top-inner .calculate {
    margin-right: 0
  }
  .header-top-inner .callback {
    display: none
  }
  .header-middle-inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0
  }
  .header-middle-inner .burger,
  .header-middle-inner .phone {
    display: block
  }
  .header-middle-inner .logo {
    margin-right: 0;
    padding-bottom: 15px
  }
  .header-middle-inner .contacts {
    display: none
  }
  .footer {
    margin-top: 70px
  }
  .footer-main .contacts {
    padding-top: 30px
  }
  .footer-main .contacts-item:not(:last-child) {
    margin-right: 24px
  }
  .m-menu-nav .nav-list > li > ul .contacts {
    display: none
  }
  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    font-size: 20px
  }
  .cta-tour .cta-wrapper {
    overflow: hidden;
    padding-bottom: 56px
  }
  .cta-tour .cta-link-btn {
    width: 230px
  }
  .cta-tour .cta-link-label {
    top: 14px
  }
  .cta-tour .cta-photo {
    margin-top: 20px;
    right: -170px
  }
  .cta-tour .cta-photo img {
    height: 250px
  }
  .cta-offer .cta-photo {
    opacity: .5
  }
  .cta-offer .cta-form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .cta-offer .cta-form .form-control {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 15px
  }
  .countries-wrapper {
    margin-top: 40px
  }
  .countries-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%
  }
}
@media (max-width:767.98px) {
  body {
    font-size: 15px
  }
  h1 {
    font-size: 36px
  }
  h2 {
    font-size: 26px
  }
  h3 {
    font-size: 20px
  }
  h4 {
    font-size: 20px
  }
  h5,
  h6 {
    font-size: 13px
  }
  .form-control,
  .form-textarea {
    margin-bottom: 16px;
    font-size: 16px
  }
  .form-submit {
    font-size: 16px
  }
  .modal-dialog {
    max-width: 480px
  }
  .modal-header {
    padding: 16px
  }
  .modal-body {
    padding: 24px 16px
  }
  .modal-footer {
    padding: 24px 16px
  }
  .footer-main .contacts-item:not(:last-child) {
    margin-right: 0;
    padding-right: 20px
  }
  .footer-main .contacts-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }
  .footer-navigation .social {
    margin-top: 32px
  }
  .section-title {
    font-size: 26px
  }
  .cta-tour .cta-wrapper {
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .cta-tour .cta-title {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-top: -75px;
    margin-bottom: 30px;
    text-align: center
  }
  .cta-tour .cta-link {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-align: center
  }
  .cta-tour .cta-link-btn {
    width: 100%
  }
  .cta-tour .cta-link-label {
    margin-left: 0;
    padding-left: 40px
  }
  .cta-tour .cta-link-label::after {
    top: auto;
    bottom: 15px;
    left: 0;
    width: 46px;
    height: 10.5px;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg)
  }
  .cta-tour .cta-photo {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    position: relative;
    top: -75px;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
  .cta-tour .cta-photo img {
    height: auto
  }
  .cta-offer .cta-form .cta-form-submit {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: normal
  }
}
@media (max-width:575.98px) {
  .card-photo {
    height: 160px
  }
  .card-meta .title {
    font-size: 20px
  }
  .card-meta .price {
    font-weight: 500
  }
  .header-top-inner .calculate {
    width: 100%
  }
  .header-top-inner .calculate .btn {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
  .header-top-inner .subscribe {
    display: none
  }
  .header-middle-inner .logo {
    max-width: 152px
  }
  .footer-main .contacts-item .title {
    font-size: 16px
  }
  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    font-size: 18px
  }
  article p,
  article ul > li,
  article ul > li > a {
    font-size: 15px
  }
  .cta-tour {
    background-color: #66a6fe
  }
  .cta-tour .cta-wrapper {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent
  }
  .cta-offer {
    background-color: #66a6fe
  }
  .cta-offer .cta-wrapper {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent
  }
  .countries-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }
}
@media (max-width:374.98px) {
  .header-middle-inner .logo {
    max-width: 130px
  }
}