@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Gilroy-Regular.woff2) format("woff2")
}
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Gilroy-Medium.woff2) format("woff2")
}
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Gilroy-Semibold.woff2) format("woff2")
}
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Gilroy-Bold.woff2) format("woff2")
}
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Gilroy-Black.woff2) format("woff2")
}
.btn {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 74px;
  padding-left: 36px;
  padding-right: 36px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.btn:active {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px)
}
.btn-purple {
  -webkit-box-shadow: 0 3px 0 rgba(120,67,233,.3);
  box-shadow: 0 3px 0 rgba(120,67,233,.3);
  background-color: #7843e9;
  color: #fff
}
.btn-purple:hover {
  background-color: #000
}
.btn-pink {
  -webkit-box-shadow: 0 3px 0 rgba(236,65,118,.3);
  box-shadow: 0 3px 0 rgba(236,65,118,.3);
  background-color: #ec4176;
  color: #fff
}
.btn-pink:hover {
  background-color: #e31756
}
.btn-outline {
  border: 1px solid #ec4176;
  color: #fff
}
.btn-outline:hover {
  background-color: #e31756
}
.form-control {
  width: 100%;
  padding: 24px 32px;
  border-radius: 8px;
  border: 0;
  -webkit-box-shadow: 0 4px 0 rgba(255,255,255,.2);
  box-shadow: 0 4px 0 rgba(255,255,255,.2);
  background-color: #fff;
  color: #1e1f43;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.form-control::-webkit-input-placeholder {
  color: rgba(30,31,67,.5)
}
.form-control::-moz-placeholder {
  color: rgba(30,31,67,.5)
}
.form-control:-ms-input-placeholder {
  color: rgba(30,31,67,.5)
}
.form-control::-ms-input-placeholder {
  color: rgba(30,31,67,.5)
}
.form-control::placeholder {
  color: rgba(30,31,67,.5)
}
.form-control:focus {
  outline: 0
}
.accordion-header-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 12px;
  fill: #fff
}
.accordion-header._is-toggled .accordion-header-title {
  color: #fff
}
.accordion-header._is-toggled .accordion-header-icon {
  fill: #fff;
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1)
}
.accordion-header._is-toggled .accordion-content {
  display: block
}
.accordion-content {
  -webkit-transition: max-height .3s ease-out,padding .3s ease;
  -o-transition: max-height .3s ease-out,padding .3s ease;
  transition: max-height .3s ease-out,padding .3s ease
}
::-moz-selection {
  background-color: #ec4176;
  color: #fff
}
::selection {
  background-color: #ec4176;
  color: #fff
}
body {
  min-width: 320px;
  background-color: #1e1f43;
  color: #fff
}
a {
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.header-actions .profile .profile-text::after,
.mmenu-inner .profile .profile-text::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #7843e9;
  opacity: 0;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease
}
.header-actions .profile:hover .profile-text::after,
.mmenu-inner .profile:hover .profile-text::after {
  opacity: 1
}
.filters-value._is-active {
  pointer-events: none;
  border-color: #ec4176;
  background-color: #ec4176;
  color: #fff
}
.tasks-card-photo {
  -webkit-clip-path: content-box;
  clip-path: content-box
}
.tasks-card-photo > img {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease,-webkit-transform .5s ease
}
.tasks-card:hover .tasks-card-photo > img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}
.radial-progress {
  position: relative;
  display: -ms-inline-grid;
  display: inline-grid;
  height: var(--size);
  width: var(--size);
  place-content: center;
  border-radius: 9999px;
  background-color: transparent;
  vertical-align: middle;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-shadow: inset 0 0 0 8px rgba(255,255,255,.3);
  box-shadow: inset 0 0 0 8px rgba(255,255,255,.3);
  --size: 9rem;
  --thickness: 8px
}
.radial-progress::after,
.radial-progress::before {
  content: "";
  position: absolute;
  border-radius: 9999px
}
.radial-progress::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -o-radial-gradient(farthest-side,currentColor 98%,rgba(0,0,0,0)) top/var(--thickness) var(--thickness) no-repeat,conic-gradient(currentColor calc(var(--value) * 1%),rgba(0,0,0,0) 0);
  background: radial-gradient(farthest-side,currentColor 98%,rgba(0,0,0,0)) top/var(--thickness) var(--thickness) no-repeat,conic-gradient(currentColor calc(var(--value) * 1%),rgba(0,0,0,0) 0);
  -webkit-mask: radial-gradient(farthest-side,rgba(0,0,0,0) calc(99% - var(--thickness)),#000 calc(100% - var(--thickness)));
  mask: radial-gradient(farthest-side,rgba(0,0,0,0) calc(99% - var(--thickness)),#000 calc(100% - var(--thickness)))
}
.radial-progress::after {
  inset: calc(50% - var(--thickness)/ 2);
  -webkit-transform: rotate(calc(var(--value) * 3.6deg - 90deg)) translate(calc(var(--size)/ 2 - 50%));
  -ms-transform: rotate(calc(var(--value) * 3.6deg - 90deg)) translate(calc(var(--size)/ 2 - 50%));
  transform: rotate(calc(var(--value) * 3.6deg - 90deg)) translate(calc(var(--size)/ 2 - 50%));
  background-color: currentColor
}
.lesson .accordion-header-title {
  padding-left: 32px
}
.lesson .accordion-header::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 12px
}
.lesson .accordion-header._is-done::before {
  background-image: url(../images/icons/done.svg)
}
.lesson .accordion-header._is-checking::before {
  background-image: url(../images/icons/checking.svg)
}
.lesson .accordion-header._is-progress::before {
  background-image: url(../images/icons/progress.svg)
}
.lesson .accordion-header._is-pending::before {
  background-image: url(../images/icons/time-forward.svg)
}
@media (max-width:1139.98px) {
  .btn {
    height: 64px;
    padding-left: 32px;
    padding-right: 32px
  }
  .form-control {
    padding: 16px 24px
  }
  .radial-progress {
    --size: 8rem
  }
}
@media (max-width:959.98px) {
  .radial-progress {
    --size: 7rem
  }
}
@media (max-width:719.98px) {
  .radial-progress {
    --size: 6rem
  }
}
@media (max-width:539.98px) {
  .radial-progress {
    --size: 5rem;
    --thickness: 6px;
    -webkit-box-shadow: inset 0 0 0 6px rgba(255,255,255,.3);
    box-shadow: inset 0 0 0 6px rgba(255,255,255,.3)
  }
}
@media (max-width:369.98px) {
  .form-control {
    padding: 12px 18px
  }
  .accordion-header-icon {
    width: 14px;
    height: 14px
  }
}