.brands-alphabet-list {
  padding: 18px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 24px 2px rgba(68,68,79,.08);
  box-shadow: 0 3px 24px 2px rgba(68,68,79,.08);
  background-color: #fff
}
.brands-alphabet-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  margin: 7px 4px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  color: #a3a1a5;
  font-size: 14px;
  font-weight: 500;
  line-height: 1
}
.brands-alphabet-item:hover {
  border-color: #763a9c
}
.brands-alphabet-item:active,
.brands-alphabet-item:focus {
  border-color: #763a9c;
  background-color: #763a9c;
  color: #fff
}
.brands-countries-button {
  position: relative;
  z-index: 1;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.brands-countries-button .icon {
  font-size: 12px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}
.brands-countries-button._toggled .icon {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.brands-countries-list {
  padding: 20px 16px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 24px 2px rgba(68,68,79,.08);
  box-shadow: 0 3px 24px 2px rgba(68,68,79,.08);
  background-color: #fff
}
.brands-countries-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 170px;
  height: 44px;
  margin: 5px 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  color: rgba(18,12,22,.7);
  line-height: 1
}
.brands-countries-item img {
  width: 25px;
  height: 25px;
  margin-right: 10px
}
.brands-countries-item span {
  font-size: 14px
}
.brands-countries-item:active,
.brands-countries-item:focus,
.brands-countries-item:hover {
  border-color: #763a9c;
  color: #763a9c
}
.brands-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 24px 2px rgba(68,68,79,.08);
  box-shadow: 0 3px 24px 2px rgba(68,68,79,.08);
  background-color: #fff
}
.brands-card:not(:last-child) {
  margin-bottom: 50px
}
.brands-card-photo {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
  height: 270px;
  margin-right: 40px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  -webkit-transition: border .35s ease;
  -o-transition: border .35s ease;
  transition: border .35s ease
}
.brands-card-photo:hover {
  border-color: #763a9c
}
.brands-card-photo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%
}
.brands-card-photo img {
  padding-left: 50px;
  padding-right: 50px
}
.brands-card-body .brand-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px
}
.brands-card-body .brand-head .title {
  line-height: 1.2
}
.brands-card-body .brand-categories {
  overflow: hidden;
  max-height: 54px;
  margin-left: -10px;
  margin-right: -10px;
  -webkit-transition: height .35s ease;
  -o-transition: height .35s ease;
  transition: height .35s ease
}
.brands-card-body .brand-categories ~ .read-more {
  margin-top: 6px
}
.brands-card-body .brand-categories > li {
  position: relative;
  display: inline-block;
  width: 32.5%;
  margin-bottom: 10px;
  padding: 0 10px 0 22px;
  line-height: 1.35
}
.brands-card-body .brand-categories > li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #763a9c
}
.brands-card-body .brand-footer {
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid #e7e7e7
}
.brands-card-body .brand-footer .brand-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.brands-card-body .brand-footer .brand-products .brand-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 24px 2px rgba(68,68,79,.08);
  box-shadow: 0 3px 24px 2px rgba(68,68,79,.08);
  border: 1px solid transparent;
  background-color: #fff
}
.brands-card-body .brand-footer .brand-products .brand-product:not(:last-child) {
  margin-right: 12px
}
.brands-card-body .brand-footer .brand-products .brand-product:hover {
  border-color: #763a9c
}
.brands-card-body .brand-footer .brand-products .brand-product-photo {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 76px;
  height: 76px;
  margin-right: 12px;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #e7e7e7
}
.brands-card-body .brand-footer .brand-products .brand-product-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down
}
.brands-card-body .brand-footer .brand-products .brand-product-meta .manufacturer {
  line-height: 1
}
.brands-card-body .brand-footer .brand-products .brand-product-meta .title {
  margin-top: 8px;
  color: rgba(18,12,22,.7);
  line-height: 1.2
}
.brands-card-body .brand-footer .brand-products .brand-product-meta .price {
  margin-top: 8px
}
.brands-card-body .brand-footer .brand-products .brand-product-meta .price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  line-height: 1
}
.brands-card-body .brand-footer .brand-products .brand-product-meta .price-wrapper > ins {
  margin-right: 5px;
  color: #120c16;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none
}
.brands-card-body .brand-footer .brand-products .brand-product-meta .price-wrapper > del {
  margin-top: 2px;
  color: #4b484c;
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap
}
.show-more {
  margin-top: 15px
}
.brand-single .brand-info-photo {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  padding: 60px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 24px 2px rgba(68,68,79,.08);
  box-shadow: 0 3px 24px 2px rgba(68,68,79,.08);
  background-color: #fff
}
.brand-single .brand-info-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down
}
.brand-single .brand-info-site {
  margin-bottom: 15px;
  line-height: 1.3
}
.brand-single .brand-info-site a {
  color: #763a9c;
  font-weight: 500
}
.brand-single .brand-info-site a:hover {
  color: #e78332
}
.brand-single .brand-info-country {
  line-height: 1.3
}
.brand-single .brand-info-descr {
  padding-left: 80px
}
.brand-single .brand-info-descr article {
  max-height: 240px
}
.brand-single .brand-info-descr article p {
  margin-bottom: 15px;
  line-height: 1.75
}
.brand-single .brand-info-descr article p:last-child {
  margin-bottom: 0
}
.brand-single .brand-categories-list,
.brand-single .brand-collections-list {
  position: relative;
  max-height: 160px;
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.brand-single .brand-categories-list::after,
.brand-single .brand-collections-list::after {
  content: '';
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  left: 0;
  right: 0;
  z-index: 10;
  bottom: 0;
  height: 20px;
  background-image: -webkit-gradient(linear,left bottom,left top,from(#fafafa),to(rgba(250,250,250,.25)));
  background-image: -o-linear-gradient(bottom,#fafafa 0,rgba(250,250,250,.25) 100%);
  background-image: linear-gradient(to top,#fafafa 0,rgba(250,250,250,.25) 100%)
}
.brand-single .brand-categories-list > li,
.brand-single .brand-collections-list > li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  margin-bottom: 15px;
  padding: 0 10px 0 22px;
  line-height: 1.2
}
.brand-single .brand-categories-list > li::before,
.brand-single .brand-collections-list > li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #763a9c
}
.brand-single .brand-categories-list > li > a,
.brand-single .brand-collections-list > li > a {
  border-bottom: 1px solid #120c16;
  font-weight: 500
}
.brand-single .brand-categories-list > li:hover > a,
.brand-single .brand-collections-list > li:hover > a {
  border-bottom-color: #763a9c
}
.brand-single .brand-categories .btn-more,
.brand-single .brand-collections .btn-more {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.brand-single .products-list .card-product {
  width: 100%
}
.brand-single .products-list .card-product .card-gallery-item,
.brand-single .products-list .card-product .card-photo {
  height: 215px
}
@media (min-width:768px) {
  .brands-countries-button {
    display: none
  }
}
@media (max-width:1229.98px) {
  .brands-alphabet-item {
    width: 33px;
    height: 33px
  }
  .brands-countries-item {
    width: 160px
  }
  .brands-card {
    padding: 30px
  }
  .brands-card-photo {
    margin-right: 30px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    height: 240px
  }
  .brands-card-body .brand-footer .brand-products .brand-product {
    padding: 15px
  }
  .brands-card-body .brand-footer .brand-products .brand-product-photo {
    width: 56px;
    height: 56px
  }
  .brand-single .brand-info-photo {
    padding: 30px
  }
  .brand-single .brand-info-descr {
    padding-left: 40px
  }
  .brand-single .products-list .card-product .card-gallery-item,
  .brand-single .products-list .card-product .card-photo {
    height: 160px
  }
}
@media (max-width:991.98px) {
  .brands-alphabet-item {
    width: 32px;
    height: 32px;
    font-size: 13px
  }
  .brands-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .brands-card:not(:last-child) {
    margin-bottom: 40px
  }
  .brands-card-photo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    max-width: 230px;
    height: 160px;
    margin-bottom: 30px
  }
  .brand-single .brand-info-descr {
    padding-left: 10px
  }
  .brand-single .brand-categories-list > li,
  .brand-single .brand-collections-list > li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%
  }
}
@media (max-width:767.98px) {
  .brands-alphabet-list {
    padding-left: 16px;
    padding-right: 16px
  }
  .brands-alphabet-list--english {
    display: block
  }
  .brands-alphabet-list--russian {
    display: block;
    margin-top: 15px
  }
  .brands-alphabet-item {
    width: 34px;
    height: 34px;
    margin: 6px 5px
  }
  .brands-countries-list {
    overflow-y: auto;
    display: none;
    max-height: 305px;
    padding: 0;
    padding-top: 4px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #763a9c;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px)
  }
  .brands-countries-item {
    width: 100%;
    margin: 0;
    padding: 25px 30px;
    border-radius: 0;
    border: 0
  }
  .brands-countries-item:not(:last-child) {
    border-bottom: 1px solid #e7e7e7
  }
  .brands-card-body .brand-categories {
    max-height: 90px
  }
  .brands-card-body .brand-footer .brand-products {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .brands-card-body .brand-footer .brand-products .brand-product {
    width: 100%
  }
  .brands-card-body .brand-footer .brand-products .brand-product:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px
  }
  .brand-single .brand-info-photo {
    padding: 60px
  }
  .brand-single .brand-info-descr {
    margin-top: 40px;
    padding-left: 0
  }
  .brand-single .brand-categories-list,
  .brand-single .brand-collections-list {
    max-height: 140px
  }
}
@media (max-width:575.98px) {
  .brands-alphabet-item {
    margin: 5px
  }
  .brands-card-body .brand-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .brands-card-body .brand-head .counter {
    margin-top: 8px;
    font-size: 13px
  }
  .brands-card-body .brand-categories > li {
    width: 100%
  }
  .brands-card-body .brand-footer {
    margin-top: 30px
  }
  .brand-single .brand-categories-list > li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }
  .brand-single .brand-collections-list > li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
  }
}
@media (max-width:374.98px) {
  .brand-single .brand-categories-list > li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
  }
}