.s-order-thanks-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #32c42a;
  color: #32c42a;
  font-size: 40px
}
.s-order-thanks-text {
  color: #120c16;
  text-align: center
}
.s-order-contacts {
  max-width: 500px;
  margin: 40px auto 0;
  padding: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 24px 2px rgba(68,68,79,.08);
  box-shadow: 0 3px 24px 2px rgba(68,68,79,.08);
  background-color: #fff
}
.s-order-contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: -15px -15px
}
.s-order-contacts-item {
  margin: 15px
}
.s-order-contacts-item .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.s-order-contacts-item .contact-icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 5px;
  border: 1px solid #ededed;
  background-color: #fff;
  color: #763a9c;
  font-size: 14px
}
.s-order-contacts-item .contact-info {
  margin-left: 10px
}
.s-order-contacts-item .contact-info .title {
  display: block;
  margin-bottom: 4px;
  line-height: 1
}
.s-order-contacts-item .contact-info .text {
  display: block;
  line-height: 1
}
.s-order-contacts-item .contact-info .dropdown {
  line-height: 1
}
.s-order-contacts-item .contact-info .dropdown-toggle .text {
  position: relative;
  display: inline-block;
  margin-right: 5px
}
.s-order-contacts-item .contact-info .dropdown-toggle .text::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  border-bottom: 1px dashed #763a9c;
  opacity: 0;
  -webkit-transition: .35s ease;
  -o-transition: .35s ease;
  transition: .35s ease
}
.s-order-contacts-item .contact-info .dropdown-toggle .icon-arrow {
  color: #a6a5a6;
  font-size: 8px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg)
}
.s-order-contacts-item .contact-info .dropdown-toggle:hover .text {
  color: #763a9c
}
.s-order-contacts-item .contact-info .dropdown-toggle:hover .text::after {
  opacity: 1
}
.s-order-contacts-item .contact-info .dropdown-menu-item {
  padding: 15px 0
}
.s-order-contacts-item .contact-info .dropdown-menu-item .title {
  white-space: nowrap;
  margin-bottom: 6px
}
.s-order-contacts-item .contact-info .dropdown-menu-link {
  white-space: nowrap
}
.s-order-contacts-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px -15px 0
}
.s-order-contacts-buttons .btn {
  margin: 10px 15px
}
.s-order-details {
  margin-top: 60px
}
.s-order-details-title {
  margin-bottom: 18px;
  line-height: 1.3
}
.s-order-details-products .product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px 20px 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 24px 2px rgba(68,68,79,.08);
  box-shadow: 0 3px 24px 2px rgba(68,68,79,.08);
  background-color: #fff
}
.s-order-details-products .product-item:not(:last-child) {
  margin-bottom: 30px
}
.s-order-details-products .product-item-photo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  width: 130px;
  height: 125px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  background-color: #fff
}
.s-order-details-products .product-item-photo > img {
  width: 100%;
  height: 100%;
  padding: 10px;
  -o-object-fit: scale-down;
  object-fit: scale-down
}
.s-order-details-products .product-item-meta {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-left: 30px;
  padding-right: 30px
}
.s-order-details-products .product-item-meta .title {
  display: block;
  color: #120c16;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: none;
  word-break: break-word
}
.s-order-details-products .product-item-meta .title:hover {
  color: #e78332
}
.s-order-details-products .product-item-meta .variation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px
}
.s-order-details-products .product-item-meta .variation-color {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  width: 28px;
  height: 28px;
  border-radius: 2px
}
.s-order-details-products .product-item-meta .variation-color > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.s-order-details-products .product-item-meta .variation-meta {
  margin-left: 10px
}
.s-order-details-products .product-item-meta .variation-meta .title {
  display: block;
  margin-bottom: 4px;
  color: #120c16;
  font-size: 13px;
  line-height: 1
}
.s-order-details-products .product-item-meta .variation-meta .sku {
  display: block;
  color: #a3a1a5;
  font-size: 13px;
  line-height: 1
}
.s-order-details-products .product-item-total {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 26%;
  flex: 0 0 26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  padding-left: 20px;
  border-left: 1px solid #e7e7e7
}
.s-order-details-products .product-item-total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  line-height: 1
}
.s-order-details-products .product-item-total-price > ins {
  margin-right: 8px;
  color: #120c16;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none
}
.s-order-details-products .product-item-total-price > del {
  margin-top: 4px;
  margin-bottom: 2px;
  color: #a3a1a4;
  font-size: 14px;
  font-weight: 500
}
.s-order-details-products .product-item-total-quantity {
  margin-top: 20px;
  display: block;
  color: #a3a1a5;
  font-weight: 500;
  line-height: 1
}
.s-order-details-info .info-item:not(:first-child) {
  margin-top: 30px
}
.s-order-details-info .info-item-head {
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #763a9c;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2
}
.s-order-details-info .info-item-body {
  padding: 15px 20px 0
}
.s-order-details-info .info-item-body .info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -15px
}
.s-order-details-info .info-item-body .info-list li {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  padding: 15px
}
.s-order-details-info .info-item-body .info-list li .info-value {
  display: block;
  line-height: 1.2
}
.s-order-details-info .info-item-body .info-list li .info-key {
  font-size: 13px;
  font-weight: 500
}
.s-order-details-info .info-item-body .info-list li .info-value {
  margin-top: 6px;
  color: #120c16;
  font-size: 15px;
  font-weight: 500;
  word-break: break-word
}
.s-order-details-info .info-item-body .info-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.s-order-details-info .info-item-body .info-delivery-method {
  padding-right: 30px;
  color: #120c16;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2
}
.s-order-details-info .info-item-body .info-delivery-date {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.s-order-details-info .info-item-body .info-delivery-date .label {
  padding-right: 10px;
  color: #120c16;
  font-size: 15px;
  line-height: 1.2
}
.s-order-details-info .info-item-body .info-delivery-date .value {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #120c16;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2
}
.s-order-details-info .info-item-body .info-delivery-date .value .icon {
  margin-left: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #763a9c
}
.s-order-details-info .info-item-body .info-payment-method {
  display: block;
  color: #120c16;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2
}
.s-order-details-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 30px;
  line-height: 1
}
.s-order-details-summary .label {
  padding-bottom: 3px
}
.s-order-details-summary .value {
  padding-left: 10px
}
.s-order-details-home {
  margin-top: 30px;
  text-align: center
}
.s-order-cross-sells {
  margin-top: 60px
}
.s-order-cross-sells-title {
  margin-bottom: 18px;
  line-height: 1.3
}
@media (max-width:1229.98px) {
  .s-order-details-products .product-item {
    padding: 15px 15px 15px 20px
  }
  .s-order-details-products .product-item-photo {
    width: 95px;
    height: 95px
  }
  .s-order-details-products .product-item-meta {
    padding-left: 20px;
    padding-right: 20px
  }
  .s-order-details-products .product-item-meta .title {
    font-size: 14px
  }
  .s-order-details-products .product-item-total {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%
  }
  .s-order-details-products .product-item-total-price > ins {
    font-size: 16px
  }
  .s-order-details-products .product-item-total-price > del {
    font-size: 13px
  }
  .s-order-details-info .info-item-head {
    font-size: 14px
  }
  .s-order-details-info .info-item-body .info-list li .info-value {
    font-size: 14px
  }
  .s-order-details-info .info-item-body .info-delivery-method {
    font-size: 14px
  }
  .s-order-details-info .info-item-body .info-delivery-date .label {
    font-size: 14px
  }
  .s-order-details-info .info-item-body .info-payment-method {
    font-size: 14px
  }
}
@media (max-width:991.98px) {
  .s-order-details-products .product-item {
    padding: 12px
  }
  .s-order-details-products .product-item-photo {
    width: 60px;
    height: 60px
  }
  .s-order-details-products .product-item-photo > img {
    padding: 6px
  }
  .s-order-details-products .product-item-meta {
    padding-left: 15px
  }
  .s-order-details-products .product-item-meta .variation {
    margin-top: 10px
  }
  .s-order-details-products .product-item-total-price > ins {
    font-size: 14px
  }
  .s-order-details-products .product-item-total-price > del {
    font-size: 12px
  }
  .s-order-details-summary {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
@media (max-width:767.98px) {
  .s-order-thanks-icon {
    width: 100px;
    height: 100px;
    font-size: 30px
  }
  .s-order-details-products .product-item:not(:last-child) {
    margin-bottom: 20px
  }
  .s-order-details-products .product-item-total-price > del {
    margin-bottom: 0
  }
  .s-order-details-home {
    margin-top: 0
  }
}
@media (max-width:575.98px) {
  .s-order-contacts {
    padding: 20px
  }
  .s-order-contacts-list {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .s-order-contacts-buttons {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .s-order-contacts-buttons .btn {
    width: 100%
  }
  .s-order-details-products .product-item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px
  }
  .s-order-details-products .product-item-photo {
    width: 80px;
    height: 80px
  }
  .s-order-details-products .product-item-meta {
    padding-right: 0
  }
  .s-order-details-products .product-item-total {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid #e7e7e7;
    border-left: 0;
    padding-left: 0
  }
  .s-order-details-info .info-item-body .info-list {
    margin: -10px 0
  }
  .s-order-details-info .info-item-body .info-list li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding: 10px 0
  }
  .s-order-details-info .info-item-body .info-delivery {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .s-order-details-info .info-item-body .info-delivery-method {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 10px;
    padding-right: 0
  }
  .s-order-details-info .info-item-body .info-delivery-date {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
  }
}